[2013-03-08 11:13] NielsZeilemaker opened #1 "Loadbalancing issue in tracker"
Wrote a unit test
http://jenkins.tribler.org/jenkins/job/Test_dispersy_trunk/78/testReport/junit/dispersy.tests.test_candidates/TestCandidates/test_tracker_yield_introduce_candidates/

The problem can be observed in:

![connection-problem](http://jenkins.tribler.org/jenkins/job/Experiment_AllChannel+Channelcommunity/470/artifact/dispersy_experiments/scenario_1000/output//total_connections_2.png)

[2013-03-11 10:57] whirm opened #2 "We are not power cycling the NAT boxes between experiments"
We should get a usb/serial controlled power strip to be able to automate power cycling all the NAT boxes before or after a NAT experiment run.

Something similar to this would be good enough:
http://www.amazon.com/PwrUSB-Basic-controlled-Automation-automatically-remotely/dp/B008AZW9P6

[2013-03-11 13:34] whirm commented on #2
Power strip ordered

[2013-03-13 08:40] whirm commented on #2
I'm getting the ticket again as the power strip is been ordered.

[2013-03-18 12:31] #1 closed, assigned to boudewijn-tribler

[2013-03-18 12:36] NielsZeilemaker opened #3 "Timeout-problem in RequestCache"
During the DAS4 runs I often get this error:
Looking at the code, this can only be caused by calling the _on_timeout method twice or if the _on_timeout method is still called after the unregistering it.

[code]

[2013-03-18 14:23] whirm opened #4 "Dispersy doesn't have a README.md file"
We need a README with A general description of the code structure/design, links to protocol documentation, etc.

[2013-03-21 12:36] boudewijn-tribler opened #5 "update_revision_information is broken/obsolete"
When Dispersy was living on SVN, it used keyword expansion (see revision.py) to feed Dispersy (and logging information) with the branch and revision number of the running code.

Git provides similar features through 'smudge' and 'clean' filters (see http://git-scm.com/book/ch7-2.html#Keyword-Expansion)

We need to remove revision.py (since it obviously can not working on git).  And possibly replac

[2013-03-26 10:03] NielsZeilemaker opened #6 "Dispersy.stop() problems"
We are experiencing some problems with the Dispersy.stop() method in regard to the timeout property. If the callback is not able to stop during this time it will return before running all expired tasks. Which by itself is I guess expected.

However, if one of those not yet run expired tasks is a dispersythread_data_came_in task, things will break. The Dispersy.stop() method now has cleaned/removed

[2013-03-26 11:06] boudewijn-tribler commented on #6
As far as I know this is related to running the testcases only.  Increasing the timeout (default is now 2 seconds) should solve the problem.

[code]

As a side note, why was this placed in Dispersy?  This hack is for the testcases only and should not be used in normal operation.  Having it in Dispersy makes it far to accessible to my taste.  Let the testcase 'tear down' mechanism call callback.sto

[2013-03-26 11:08] NielsZeilemaker commented on #6
Both me and Elric agree that this is basic functionality, and should be implemented in any piece of software.
If you can start Dispersy, you should also be able to stop it.

[2013-03-26 12:16] NielsZeilemaker commented on #6
The Dispersy.stop method is also called when closing Tribler btw, thus this is causing problem in Tribler as well.

[2013-03-26 15:35] NielsZeilemaker opened #7 "RequestCache set/has"
I got a community which uses the RequestCache to store requests. When receiving a message, I check if the RequestCache has any requests with this identifier stored, if not i accept it.

However, if the RequestCache does not have this type of Cache stored but a different one. The has-method will return false, but the set-method will not allow me to store the new Cache.

Can we improve upon this? Wh

[2013-03-26 16:29] boudewijn-tribler commented on #7
Cashes should be identified by ID and type (currently it only uses ID, causing the problem you describe above). We may event want to give each type its own request cache instance.  That would simplify the code.

There is no longer a reason for the request cache to be global (historically Dispersy handled all messages, we are slowly moving away from this, i.e. making Community responsible).

[2013-03-26 16:53] NielsZeilemaker commented on #7
Seems like a nice solution. Currently I can't run my experiments in debug mode due to this, and in optimized mode this is causing stuffs as the clashes are not checked.

[2013-03-27 09:01] boudewijn-tribler commented on #6
Calling `cleanup_singletons()` will cause singletons to be removed.  Anything that requires those singletons will then fail (as Niels points out).  See isse: https://github.com/Tribler/tribler/issues/45.  In Tribler there is no reason to clean the singletons, it should not happen.  Removing the cleanup should fix the problem.

For clarity: `cleanup_singletons` and `cleanup_members`  are hacks that

[2013-03-27 15:09] synctext opened #8 "Code readability and resolve pylint warnings"
Goal: make code easier to understand for new developers and reduce pylint errors/warnings

Currently there are some automatic warning (not all need fixing):
http://jenkins.tribler.org/jenkins/job/Test_dispersy_devel/616/violations/

First pylint warning is moving functionality away from the main dispersy.py in order to reduce it, from the current 4631 SLOC:
http://jenkins.tribler.org/jenkins/job/T

[2013-04-02 13:53] boudewijn-tribler commented on #8
I agree, less pylint errors/warnings will greatly benefit the code base.  Yet, pylint has a fairly strict default configuration, so before we start fixing things that are not broken, we should agree on what we want pylint (not) to check.

Let us take dispersy.py as an example.  The following are a few [C]onvention for coding standard violations that occur:
- C:  2,0: Line too long (99/80)

  _The

[2013-04-04 14:40] whirm opened #10 "Get rid of singletons"
As Boudewijn told me, we can do without them and will make dispersy's start()/stop() methods ( #6 )  easier to implement (less things to clean up manually)

[2013-04-04 18:07] whirm commented on #8
- C: 2,0: I think we should limit the line size, I agree on the 100~120 limit.
- C: 1,0: I think we should refactor the code a bit, maybe 4434 lines for a single class is a bit excessive. I see a decent part of it are asserts and docstrings, but still... I think having it split would help newcomers wrap their head around the thing.
- C: 86,0: I don't think its that bad to have " foo accessor " doc

[2013-04-09 10:30] boudewijn-tribler commented on #10
Changes are being made on:
https://github.com/boudewijn-tribler/dispersy/tree/stop
and
https://github.com/boudewijn-tribler/tribler/tree/dispersystop

[2013-04-10 11:42] boudewijn-tribler opened #11 "User specific callback id's should be either unicode or string"
Currently the id_ parameter can be specified as either unicode or string.  This results in warnings, as seen below.

[code]

Solutions:
1. Allow only strings
2. Allow only unicode strings
3. Allow both, but always convert them to either string or unicode string
4. Others?

I prefer to using strings slightly over using unicode.  I am not a fan of the third option, as this results in unnecessary 'un

[2013-04-11 09:52] boudewijn-tribler commented on #8
We will add a pylint.rc file to the repository with the settings that we agree on.  After a discussion with Elric we came with the following:

[code]

[2013-04-12 10:25] boudewijn-tribler commented on #5
Right now I prefer to clean up the subversion stuff.  We do not necessarily need to add a similar git feature now.
- https://github.com/Tribler/tribler/pull/87
- https://github.com/Tribler/dispersy/pull/14

[2013-04-12 11:24] whirm commented on #5
Just merged it

[2013-04-12 11:24] #5 closed, assigned to nobody

[2013-04-15 12:07] whirm opened #15 "Migrate from dprint to logging"
Boudewijn and I (I'm sure Niels too :)) think that we should move to the standard python logging system.

Pros:
- Dprint is a custom made logging framework that only a few people understand.
- We will be able to integrate better with the rest of the python ecosystem (nose comes to mind).
- It will be easier for newcomers to develop and debug dispersy.
- We will trim a bit dispersy's codebase.

The

[2013-04-15 12:17] NielsZeilemaker commented on #11
replace_register even allows it to be int

[2013-04-15 12:21] boudewijn-tribler commented on #11
Yes, this is to allow existing tasks, that have been assigned an id by callback, to be replaced.

As a rule: integer/long id's are assigned by callback.register while string id's are assigned by the user.

[2013-04-15 12:27] NielsZeilemaker commented on #11
For me that's surprising, I would rather go for one type and stick to it. Maybe prepend all "automatic" ids with a prefix. Moreover, I think tasks should stick to unicode as that's used everywhere in Dispersy for identifiers.

In messages, the database etc.

[2013-04-15 12:54] boudewijn-tribler commented on #11
I don't mind replacing all auto ids with u"dispersy-#N" or the string equivalent to make it more consistent.

Currently Dispersy isn't very consistent in using either string or unicode for its identifiers, for example, the request cache using strings containing binary cid and mid.  Having these use unicode would require them to be hexified, but perhaps worth doing with issue https://github.com/Tri

[2013-04-15 12:55] boudewijn-tribler commented on #15
I think the estimate was around a day of work for 2 people.  I volunteer as well.

[2013-04-15 13:17] NielsZeilemaker commented on #11
The RequestCache is using unsigned shorts as ids, or am I mistaken.

2013/4/15 Boudewijn notifications@github.com

[2013-04-15 13:24] boudewijn-tribler commented on #11
On the wire an unsigned short is used.  Internally we use strings to match incoming messages to waiting caches, this was previously done with regexp in trigger.py.  See: properties_to_identifier() and message_to_identifier()

We can't use the unsigned short because not all responses can contain this value, unless the responses are all wrapped in a response container message.  We intend to do this

[2013-04-17 11:01] #6 closed, assigned to boudewijn-tribler

[2013-04-17 11:01] #10 closed, assigned to boudewijn-tribler

[2013-04-17 16:48] whirm opened #23 "Dispersy release policy"
We need to decide on the Dispersy release policy.

We are starting to get projects using it, should we do a Dispersy release every time we do a Tribler release?

[2013-04-18 09:04] whirm opened #24 "Dispersy needs to immediately exit when an exception occurs"
So the tests/experiments finish early and we get less cruft to go trough to find the problems.

[2013-04-18 10:34] boudewijn-tribler commented on #24
Done. https://github.com/Tribler/dispersy/commit/88a57d13c61be9afadc30f294e301ffc6f466ac0 https://github.com/Tribler/dispersy/commit/49f775dba0741d543ba5c7c7406d9ead726873d4

[2013-04-18 10:34] #24 closed, assigned to boudewijn-tribler

[2013-04-19 12:09] #11 closed, assigned to boudewijn-tribler

[2013-04-21 15:09] boudewijn-tribler commented on #15
The boring part is done.

All that remains is to create a logger.conf that can be loaded from Tribler/Main/tribler.py or dispersy/tool/main.py (depending on what we are running).

[2013-04-21 15:12] boudewijn-tribler commented on #23
We should make a new release when something changes, not every Tribler release necessarily includes changes to Dispersy.

But we should definitely have some kind of version control, if only to document changed between versions.

[2013-04-22 17:35] d3vgru opened #32 "Please create a basic tutorial"
A basic tutorial showing how to configure, instantiate, and perform basic operations with dispersy would be very helpful.

[2013-04-23 08:26] boudewijn-tribler commented on #32
I have a documentation day this Friday, hopefully I can get around to it then.

[2013-04-23 08:28] boudewijn-tribler commented on #15
Closing for now, we can tweak the existing logger.conf as we see fit, and we can finalize it once we get more familiar with how it works.

[2013-04-23 08:28] #15 closed, assigned to whirm

[2013-04-24 10:18] whirm commented on #2
The power strip has been installed and we have a script in node300 that allows us to power-cycle all the nat boxes.

We need to decide when to do it.

[2013-04-24 10:20] boudewijn-tribler commented on #2
When do the tasks run that use the NAT boxes?  Would x minutes before those tasks start be doable in Jenkins?

[2013-04-24 10:49] whirm commented on #8
I've added the config file to jenkins, Ill be progressively updating the projects to use it.
Right now only Test_dispersy_devel is using it.

I will also periodically update the number of violations that mark a build as failure and no pull requests that go over the threshold should be merged.

[2013-04-24 11:18] boudewijn-tribler opened #37 "Test performance difference with logger"
We should test the performance difference between between calling the logger with and without `if __debug___`.

If the performance difference is negligible we won't need to use `if __debug__`, and we can also remove the exception we make for this from the pylint config file (https://github.com/Tribler/dispersy/issues/8).

[2013-04-24 12:12] boudewijn-tribler opened #38 "Dispersy walker has fewer candidates than expected"
We would expect more candidates sooner.  Especially the AllChannelCommunity takes much longer to obtain a good number of candidates than we would expect.

Strangely enough the walk success rate is relatively high (around 80%).  This contradicts the lack of available candidates.

This behaviour must be either solved or explained.  Please investigate.

[2013-04-24 12:18] boudewijn-tribler commented on #38
Option: perhaps the majority of the peers that we contact do not return new peers for some reason?  This would explain why we get few candidates while the walk success rate is relatively high.  This should be fairly easy to confirm of deny.

[2013-04-24 12:33] boudewijn-tribler opened #40 "Run unitests in -O optimized mode"
Before we started using nosetests, all unittests were run with both `__debug__` enabled and disabled.  Unfortunately nosetests doesn't (easily?) allow us to run in -O optimized mode.  However, I would like to see this feature again to avoid problems like the one fixed in https://github.com/Tribler/dispersy/pull/39.

[2013-04-24 12:52] boudewijn-tribler opened #41 "Checking messages with sequence numbers"
A few months ago we discovered that a bug in handling incoming sequence numbers had caused peers to incorrectly accept messages.  This in turn caused peers to return incorrect messages when asked for messages with a specific sequence number (range).  This resulted in most peers sending endless stream of missing-sequence and incorrect responses.

This is what happened:
1. messages are received and

[2013-04-24 13:05] boudewijn-tribler commented on #41
One solution would be to have steps 2, 3, 4,and 5 run on one message at a time instead of on a batch.  Step 2 already operates on a single message, and step 3 and 5 are partially on a single message and partially on a batch.

We would need to look at the difference in performance (one of the reasons why we added batches a long time ago).  There is a unittest that does this on a very small database

[2013-04-24 13:26] whirm commented on #2
the thing is that more people is using the cluster, so maybe its better to just do it once during the weekend?

[2013-04-24 13:36] boudewijn-tribler commented on #2
I don't know how long it takes before the boxes need a hard reset, if it takes longer than a week, then at the start of the weekend makes sense.  I see no problem as long as everyone using the cluster knows about it.

[2013-04-24 15:20] boudewijn-tribler opened #43 "Dispersy.stop() is unloading communities in random order."
We should remember the order that communities are defined using `Dispersy.define_auto_load()` and use its reverse order when unloading communities when ``Dispersy.stop()` is called.

This will prevent bugs from occurring when communities depend on each other, i.e. in a future database cleanup we want AllChannelCommunity to create a database that all ChannelCommunities will need.

[2013-04-25 08:53] whirm opened #45 "Demers exeriment broken"
Should it be fixed, disabled, removed?

[2013-04-25 10:48] NielsZeilemaker commented on #45
Should be fixed, no reason for it to be broken.
On Apr 25, 2013 10:54 AM, "Elric Milon" notifications@github.com wrote:

[2013-04-25 11:48] NielsZeilemaker commented on #45
Was due to the allchannel experiment being renamed to _devel.
Running it now to check if it works again.

[2013-04-25 11:56] NielsZeilemaker commented on #45
Still broken, das4-peer is attempting to copy dprint.conf to the peers.

http://jenkins.tribler.org/jenkins/job/Experiment_Demers/192/console

[2013-04-26 15:06] boudewijn-tribler commented on #32
I have implemented a simple chat room.  The code is linked from the tutorial, and works like a charm.  Even though the UI is a bit lackluster.

https://github.com/boudewijn-tribler/dispersy/blob/documentation/doc/tutorial-part1.org

I would welcome feedback, is this understandable?

Some points from my side:
- github does not correctly parse org files (it uses a very old parser)
- footnotes are re

[2013-05-01 09:22] NielsZeilemaker commented on #45
I'm now getting this error:
No handlers could be found for logger "Tribler.dispersy.dispersy"

I guess that's due to python not finding the logger.conf file. Elric do you know where to put this file? Its now located in the workingdir.

[2013-05-02 09:54] whirm commented on #45
Did you try putting it in tool/ yesterday?

[2013-05-02 10:20] NielsZeilemaker commented on #45
Yes, we need to update the dispersy reference. The current dispersy branch
does not even configure the logger.conf thingy.

2013/5/2 Elric Milon notifications@github.com

[2013-05-03 08:42] NielsZeilemaker commented on #45
The demers experiment runs, but performance is significantly worse than before.
Current performance: http://jenkins.tribler.org/jenkins/job/Experiment_Demers/212/
Before changes to devel: http://jenkins.tribler.org/jenkins/job/Experiment_Demers/189/

I am suspecting the skip to be the cause.

[2013-05-03 09:05] whirm commented on #45
Ill disable skip and see if it goes back to normal

[2013-05-04 13:23] NielsZeilemaker opened #49 "Tribler decorator dependency"
Currently Tribler is using the attach_profiler decorate from Dispersy.
I have no problems with this decorator, it is actually quite handy. However, could we think of a better solution than directly importing the decorator from Dispersy?

Maybe a shared library containing a couple of these decorators etc?

[2013-05-06 17:34] boudewijn-tribler commented on #40
python -O -m unittest discover -v

[2013-05-07 15:47] synctext commented on #38
Reproduced this on my Ubuntu machine.
Instead of expected 21 candidates I'm seeing as low as 4 candidates.
This is with a fully connectable Tribler instance.

[2013-05-08 13:04] boudewijn-tribler commented on #40
Done.

[2013-05-08 13:04] #40 closed, assigned to nobody

[2013-05-13 14:44] NielsZeilemaker opened #54 "HardKilledCommunity loaded in LaunchManyCore"
Tribler LaunchManyCore currently defines the autoload for the HardKilledCommunity.
Shouldn't this be moved to the dispersy constructor? Or is it Tribler specific?

[2013-05-13 15:23] boudewijn-tribler commented on #54
The default Dispersy behavior is to ignore messages from communities that are not defined, having the autoload in LaunchManyCore overrides this behavior, allowing better propagation of killed messages.

I prefer not to have any autoloads defined by Dispersy.  It can get slightly confusing as Dispersy itself doesn't define any communities, so why should it define any killed communities?  Also, the

[2013-05-13 15:44] NielsZeilemaker commented on #54
If it's Tribler specific, then its fine. I was just wondering why it was configured like this.

[2013-05-13 15:44] #54 closed, assigned to nobody

[2013-05-13 15:55] boudewijn-tribler commented on #54
Yea, I'm not liking the way we do the config now.  Since the load=True was included the define_auto_load has become something else.  Perhaps we should rename the method to reflect this change?

[2013-05-14 09:05] #43 closed, assigned to boudewijn-tribler

[2013-05-14 09:08] boudewijn-tribler commented on #8
autopep8 can be run from console to fix many problems in one go.  I suggest running this on all code, running it locally before doing a merge will prevent merge problems occurring.

/usr/local/bin/autopep8 --in-place --max-line-length=120 --jobs=0 --recursive --pep8-passes=3 .

[2013-05-14 09:35] boudewijn-tribler commented on #8
/usr/local/bin/autopep8 --in-place --max-line-length=120 --ignore=E501 --jobs=0 --recursive --pep8-passes=3 .

Ignoring E501 will leave line lengths alone.  This results in less invasive changes, while still doing the changes that Eclipse does.

[2013-05-15 16:55] NielsZeilemaker commented on #49
Tribler is also dependent on the python27_ordereddict from Dispersy

[2013-05-16 08:01] boudewijn-tribler opened #56 "Infinite loop when yielding introduction candidates."
An infinite loop bug was introduced in: https://github.com/Tribler/dispersy/commit/11c85c9b6e3fc710cbfaa70c63a68fd1e7c0ab46#community.py

Caused by:

[code]

I am extending test_candidates.py to reproduce before fixing.

[2013-05-16 08:02] boudewijn-tribler commented on #56
A related bug: result can be None, hence the line should have been

[code]

[2013-05-22 10:08] whirm commented on #49
I think we can drop python 2.6 support now. Even Debian stable uses 2.7 by default.

[2013-05-22 16:58] whirm commented on #49
Actually, nevermind that, DAS4 has 2.6 only.

[2013-05-23 18:21] NielsZeilemaker commented on #45
Whirm, this is still broken. Can you disable the skip in the demerscommunity?
Should be as easy as overwriting the skip variable in the constructor.

[2013-05-23 18:56] NielsZeilemaker opened #59 "Callback call method hiding Exceptions"
Whenever an exception occurs in a method which is scheduled using the call method, I get a traceback consisting of the method "calling" the call method.

Could we expose the original traceback?
An example can be found in the Tribler/Main/Utility/GuiDBHandler.py, there I include the traceback into the exception reporting and am printing it to console before raising the exception.

A better solution

[2013-05-24 08:01] boudewijn-tribler commented on #59
Going for the better solution, Pull request is available.

[2013-05-28 12:12] #59 closed, assigned to nobody

[2013-05-29 12:44] #45 closed, assigned to whirm

[2013-05-30 14:34] NielsZeilemaker opened #61 "Example community with an object-relational mapper"
Outcome: a tutorial with one or all three ORM packages used
Goal: use higher-level relational algebra, instead of hand-coded SQL
Motivation: less code, easy to expand and re-use

Options Sqlalchemy, Storm, Django:
- http://www.sqlalchemy.org/
- https://storm.canonical.com/
- https://www.djangoproject.com/

One of many discussions on this: http://stackoverflow.com/questions/53428/what-are-some-good

[2013-06-03 14:27] whirm commented on #2
I can't advance on this one until we know what happens with the whole DAS2 thing.

[2013-06-12 16:43] whirm commented on #3
@boudewijn-tribler could you take a look at this one please? its ben sitting there for 3 months now. thx

[2013-06-13 06:55] boudewijn-tribler commented on #3
This issue will be difficult to track down, I suggest fixing #7, I suspect that this will either solve this problem or at the very least make this problem much easier to diagnose.

[2013-06-13 06:57] boudewijn-tribler commented on #7
Does everyone still agree with the proposed solution?
- remove the type stuff in the cache
- have one cache for each type
- have each cache as a Community member

[2013-06-13 08:58] NielsZeilemaker commented on #7
The only problem I can think of is inheritance. Currently both the has and get method allow you to pass a parent to find a child class. If we create separate caches for each type, this won't work anymore.

[2013-06-13 09:39] boudewijn-tribler commented on #7
Using either has or get to obtain the cache associated with some ID would result with whatever cache is stored.  Things should be fine as long as the stored cache is compatible with what the code expects, i.e. has the required properties and methods.

Your point is still valid, but do we have a better option?

[2013-06-13 09:47] NielsZeilemaker commented on #7
Could we not have a single requestcache, which has multiple cache for types. But now types arn't defined by the class you pass, but by an unicode identifier very much similar to all other identifiers?

Seems like a cleaner fix to me, and won't require much refactoring. As we still have a single request_cache member in each community. As opposed to 10, a single requestcache for each type of request

[2013-06-13 11:05] boudewijn-tribler commented on #7
Very true.  The only downside that I can think of having a single requestcache is more code and more parameters for its API.  With 10 'single requestcaches' we won't need to pass and store the string that indicates the type, since it is one type per cache.

Effectively, do we call

[code]

or

[code]

I like the simplicity of multiple smaller caches over one big one, but as Niels pointed out, keep

[2013-06-13 11:19] NielsZeilemaker commented on #7
Still, a big single cache does not neccesarily mean a "big single cache".
It's only the api, internally the request_cache could create a dictionary for each "type".

Moreover, I don't see the simplicity of multiple smaller caches. Implementation concerned, it's probably only a couple lines per method of the request_cache, and has the added benefit of being a single property in the community.

[2013-06-17 13:46] boudewijn-tribler commented on #56
Fixed

[2013-06-17 13:46] #56 closed, assigned to boudewijn-tribler

[2013-06-17 14:24] boudewijn-tribler opened #68 "Cleanup Candidates."
With the introduction of _iter_category and _iter_categories the candidates are no longer kept active though in and outgoing walks in other communities.

We decided to drop this cross community activity feature entirely.  The following cleanup can be performed:
- Candidates become community specific
- remove Candidate is_any_active, associate, is_associated, disassociate, in_community, all_inactiv

[2013-06-17 21:49] synctext commented on #38
After 15 minutes there are 0 candidates in Search community. Search community is broken in current devel.
Strangely enough, AllChannels is bursting with peers, sometimes 27 peers.

From git://github.com/Tribler/tribler
   e34d4e2..5fe13d3  devel      -> origin/devel
Updating e34d4e2..5fe13d3

![tribler_6 2pre_no_bootstrap](https://f.cloud.github.com/assets/325224/665198/192c9cde-d797-11e2-9b5d-1da

[2013-06-19 15:02] synctext commented on #38
The mystery continues to unfold.

Load balancing needs to be improved, both bootstrap_candidates and normal peers. There is a bit of hammering:
-  2 bootstrap_candidates get:  109 + 110 = 219 connections
- 10 bootstrap_candidates get: 52 connections in total

Some normal peers also are hammered, see below.

![tribler_6 1pre_walker_fail_and_hammering](https://f.cloud.github.com/assets/325224/675426

[2013-06-20 08:10] synctext commented on #38
More details on how walks fail after running for almost 15hours:

![tribler_6 1pre_walk_fail2700_times_on_single_ip](https://f.cloud.github.com/assets/325224/679930/db945286-d980-11e2-987f-436935e75cad.png)

[2013-06-20 14:19] boudewijn-tribler commented on #38
Ended up being a bug in the tracker.  Long story short, the tracker's response messages would use the highest 'community version number' that the tracker knew of.  Hence, once someone talked to the trackers using version 0002 it would respond to any subsequent request (from any other peer in that community) with version 0002.  This response would then be dropped because this version is unknown.

T

[2013-06-20 14:19] #38 closed, assigned to boudewijn-tribler

[2013-06-20 14:47] boudewijn-tribler opened #70 "Dispersy walker has fewer candidates than expected (2)"
(This issue is duplicate of #38.  This was closed after it fixed a bug causing the trackers to no longer respond.)

We would expect more candidates sooner. Especially the AllChannelCommunity takes much longer to obtain a good number of candidates than we would expect.

Strangely enough the walk success rate is relatively high (around 90%). This contradicts the lack of available candidates.

This b

[2013-06-21 10:17] synctext commented on #7
Trying to understand the discussion above.
1. Please formulate what would be the _minimal_ required change to fix this issue?
2. Can we avoid radical change of removing the single requestcache?

The idea of 1 request cache per community sounds nice, but I guess it is a lot of work with little in return (communities become more atomic, but too deep in Dispersy to use as a selling point)

[2013-06-21 14:12] synctext opened #71 "Lot of dropped packets: 30% dropped "duplicate message by binary packet Dispersy-Undo-Own""
See screenshot, after running for 10 minutes it seems a lot of packets are dropped.
Could be related to issue #38 or #70. But never seen this popup before.

![tribler_6 1pre__lot_of_drops_30percent](https://f.cloud.github.com/assets/325224/687446/9422638c-da7c-11e2-8ee2-705ee9efcf69.png)

[2013-06-22 10:59] synctext commented on #70
The behavior of Tribler improved on my home Ubuntu box. But the search community is still not bootstrapping.

UDP connectable peers seem to run fine, see http://jenkins.tribler.org/jenkins/job/Test_tribler_devel/73/

When behind a NAT, a lot of walk messages get lost. Do the logs indicate an incoming message from the IPv4 addresses listed in screenshots below? These should be connectable: 80.101.1

[2013-06-24 13:22] boudewijn-tribler commented on #70
There are 81 entries between 12:24 and 13:00.  With the exception of one entry, they are all for the BarterCommunity.  Later in the log are entries for the other communities as well.

I have a natted virtualbox that seems to have similar low connectability issues.  I'll continue to test from there.

[2013-06-25 09:53] NielsZeilemaker opened #72 "Endpoint not reporting packets which are too large >65k"
I think we should add an exception if someone is trying to send a packet larger than 65k.
Currently, this will +/- crash the endpoint as it will never be sent.

[2013-06-25 10:11] boudewijn-tribler commented on #72
One could argue that checking the max size of the packet is the responsibility of the user.  Similar to checking that the packet is non empty string, which is currently also the responsibility of the user.

Also, you say that this will +/- crash the endpoint, what do you mean by this?  Does it crash, or doesn't it?

[2013-06-25 10:14] NielsZeilemaker commented on #72
It will block the endpoint, the packet will not be send due to being too large and hence the endpoint will try again after X seconds.

[2013-06-25 10:24] NielsZeilemaker commented on #72
Btw, one could argue that this will help the user debug its community as it's really well hidden that this is causing the endpoint to fail.

[2013-06-25 10:37] boudewijn-tribler commented on #72
That is why the user should generally debug its community in debug mode where this check should definitely be included.

[2013-06-26 18:11] synctext commented on #70
The screenshots above are repeated with current branch.
Dispersy AllChannel community works.
However, the Search community fails to work.

The "walk_fail" shows my computer cannot connect to:
130.161.211.199  asmat.das2.ewi.tudelft.nl.
130.161.211.245  kayapo.das2.ewi.tudelft.nl.
130.161.211.194 superpeer9.das2.ewi.tudelft.nl.
130.37.198.19  om.cs.vu.nl

With logging we can determine if either the

[2013-06-27 07:59] boudewijn-tribler opened #73 "LAN address never changes after startup."
Dispersy assesses its LAN address once after startup, while the WAN address keeps being continuously assessed.  This allows the WAN address to keep working in roaming scenario's while the LAN address breaks.

A quick and simple fix would be to reassess (by calling _guess_lan_address) the LAN address whenever the WAN IP address (so we will ignore the port number) changes.

[2013-06-28 09:16] boudewijn-tribler opened #74 "Respond with peer specific conversion."
A peer sending a request with conversion N should ideally get a response with conversion N.

We can only do this for messages that using CandidateDestination, the candidate instance should hold a list of valid conversions where the highest can be used when encoding the message.

[2013-06-28 09:43] boudewijn-tribler opened #75 "Add picture to show Bootstrap server health."
http://jenkins.tribler.org/jenkins/job/Test_BootstrapServers/

This test only shows console output that may not be trivial to read.  A simple image with a red/green success-rate per tracker would improve readability.

[2013-06-28 13:47] boudewijn-tribler commented on #75
Statistics are being written, see below for syntax.  We'll only need to add a nice R script.

[code]

[2013-06-29 19:31] boudewijn-tribler commented on #75
Elric, can you install ggplot2 and reshape2 on the gorilla's please?

This should fix: http://jenkins.tribler.org/jenkins/job/Test_BootstrapServers_Boudewijn/38/console

[code]

[2013-07-01 13:07] NielsZeilemaker commented on #70
I found a possible explanation for this bug. The CommunityStatisctics class was using the yield_iter_categories which filtered out all introduced candidates.
Pull request #77  seems to fix it. Since applying this change, I have never seen less than 17 candidates in the allchannel or searchcommunity. Usually, the both hover around the 20 mark.

The only the "timeout_adjustment" property in candidat

[2013-07-01 15:03] NielsZeilemaker opened #78 "Callback.call (not on DispersyThread) cannot handle generators"
Dispersy currently does not unload all communities, as call cannot handle generators if not called from dispersythread.
This also causes Dispersy to not close databases etc.

[2013-07-02 07:22] boudewijn-tribler commented on #78
This was fixed in #76 (see the first comment in the description).  Just waiting for someone to accepts it.

[2013-07-02 07:58] boudewijn-tribler commented on #70
The new test_overlay.py script was (last week) still reporting drops in candidates back to as low as 4 at times, this was using the fixed community.dispersy_yield_candidates(), i.e. the one returning walk, stumble, and intro.

#77 does make the problem less 'severe' as the GUI will now include intro candidates in the count as well.  But the problem isn't solved yet.

As for the timeout_adjustment

[2013-07-02 08:46] NielsZeilemaker commented on #70
Could you explain to me why a candidate for which we have just send an introduction-request to should not be in the walk category? For me, it makes sense to prevent it from being walked to again using the is_eligable_for_walk but removing it from the walk category does not.

[2013-07-02 09:14] boudewijn-tribler commented on #70
I agree with you, I'm guessing this was easier to implement at the time.  As I said, we should properly define these cases, implement, and verify with unit tests.

[2013-07-02 14:48] NielsZeilemaker opened #79 "Acceptable_global_time is checked when sync is turned off"
Currently, the acceptable_global_time property is checked in then check_full_sync method.
However, in communities which have sync turned off (searchcommunity), torrent messages which are created by on demand by other peers are dropped as the current global_time is higher than the default range.

[2013-07-02 14:58] NielsZeilemaker commented on #79
I just noticed this snippet in the previewcommunity:

[code]

I could do the same in the searchcommunity, but a parameter makes more sense.

[2013-07-03 08:04] boudewijn-tribler commented on #79
We will add a property called `dispersy_enable_sync`.  When this returns False:
- `dispersy_take_step` will always be called with allow_sync = False
- `acceptable_global_time` will return 2 *\* 63 - 1 instead of its previous calculation involving current global time, mean neighborhood global time, and `dispersy_acceptable_global_time_range`.

[2013-07-03 09:56] NielsZeilemaker commented on #79
Great

[2013-07-05 09:53] NielsZeilemaker opened #81 "Create a PeerCache using bootstraptribler.txt"
I was planning to add a peercache to Dispersy. Looking at the code, the bootstraptribler.txt file seemed like a logical choice to start with.

I'm planning to add another column, which determines if we should or should not sync with a peer. For our normal bootstrappeers, it would turn sync off and for all cached peers sync would be turned on.

By modifying get_bootstrap_candidates() in bootstrap.p

[2013-07-09 08:55] NielsZeilemaker opened #82 "Encrypt packets send to a candidate"
I want to start encrypting packets which are send to candidates. However, I want to change the encryption-key depending on which candidate.

Therefore, I was thinking of implementing a new endpoint which accepts any other endpoint as a parameter. Next, when sending packets using the send method, this new endpoint would use a callback to figure out if packets send to this candidate should be encryp

[2013-07-09 11:45] #78 closed, assigned to nobody

[2013-07-09 11:46] boudewijn-tribler commented on #75
We now have a variety of graphs.

[2013-07-09 11:46] #75 closed, assigned to whirm

[2013-07-09 11:51] boudewijn-tribler commented on #68
We were unable to determine the reason for #70, we will continue with this cleanup and re-evaluate #70 afterwards.

[2013-07-09 13:37] boudewijn-tribler opened #84 "Investigate if we can replace MemberDestination with CandidateDestination."
https://github.com/Tribler/dispersy/pull/83#discussion_r5088973.

It would be better to use CandidateDestination instead or MemberDestination.  A simple 'get_candidate_from_member' method should be sufficient, and reduces code complexity by removing the entire MemberDestination policy.

Searching for MemberDestination shows that it is only used for the 'dispersy-signature-request' message.

[2013-07-09 14:20] NielsZeilemaker commented on #84
I agree, at least a warning should be generated in the create_signature_request method whenever the _forward method returns false.

[2013-07-09 19:58] boudewijn-tribler commented on #84
We need to fix this before the next release, as described in the discussion in #83.

[2013-07-10 07:48] boudewijn-tribler commented on #68
Fixed in #85.

[2013-07-10 07:50] boudewijn-tribler commented on #32
https://github.com/Tribler/dispersy/blob/devel/doc/tutorial-part1.org

This will be merged back into the master branch at the next release.

[2013-07-10 07:50] #32 closed, assigned to boudewijn-tribler

[2013-07-10 08:05] boudewijn-tribler commented on #72
Niels is right, a bug like this should not go unnoticed if a simple `if` statement can clarify what is going on.  Is #86 sufficient to make endpoint more user friendly?

[2013-07-10 08:34] #72 closed, assigned to boudewijn-tribler

[2013-07-10 10:22] boudewijn-tribler commented on #84
https://github.com/Tribler/dispersy/pull/87

[2013-07-10 14:32] #84 closed, assigned to boudewijn-tribler

[2013-07-11 10:04] boudewijn-tribler commented on #37
I don't think anyone is interested in this anymore, not enough to actually do it anyway.

[2013-07-11 10:04] #37 closed, assigned to nobody

[2013-07-11 10:07] boudewijn-tribler commented on #61
Last time I talked with Johan about this it seemed like we didn't want to put time into ORM anymore.  If this is still the case I suggest we close this issue.  Johan?

[2013-07-11 10:12] #68 closed, assigned to boudewijn-tribler

[2013-07-11 10:39] boudewijn-tribler commented on #79
See #89.

Only difference with previous comment is that the property is called `dispersy_enable_bloom_filter_sync` to keep in line with the other property names.

[2013-07-11 12:08] boudewijn-tribler commented on #79
See https://github.com/Tribler/tribler/issues/217.

Preview- and SeachCommunity are using this new property.  Any other communities where this should be applied?

[2013-07-11 14:54] synctext commented on #7
(my above 'atomic' comment is now obsolete)

Complete Community isolation is now a goal for V6.2.
Spoofing is trivial if answers to requests are not peer sensitive, I understand.
Hopefully we can avoid any collision and collusion with the 16-bit random outstanding-request in a future refacturing attempt. New issue created: #90.

If Boudewijn as the author prefers this style: self.request_cache_A.g

[2013-07-11 15:05] synctext opened #90 "Possible attack vector with IPv4 spoofing and 16-bit RequestCache guessing"
Dispersy is light-weight and uses only a two-way handshake. We have no design yet which preserves our ligh-weight character and prevents IPv4 spoofing.
Dispersy uses a requestCache to store outstanding requests and as a mechanism to issue timeouts on pending requests. The request cache has a 16-bit random identifier, unique only per community and message type (intro-req, missing-proof, etc)

_When

[2013-07-12 09:14] boudewijn-tribler opened #91 "Dispersy.stop currently always returns True."
Obviously it should return either True or False depending on success or failure.
- Endpoint.close should return either True or False,
- Database.close should return either True or False,
- Callback stop already returns True or False.

Also, Tribler's LaunchManyCore should output a warning when Dispersy is unable to shutdown.

[2013-07-15 09:45] boudewijn-tribler opened #92 "Less verbose debug output"
Since we enabled the Dispersy debug output in our nose runs, we have large amounts of output.  Perhaps too much.

The logger provided DEBUG, INFO, WARNING, ERROR, and CRITICAL levels.  Currently most of Dispersy's output is DEBUG while a few select are INFO (i.e. start, stop, IP change, candidate statistics).

There are three options:
1. Keep it as it is (debug output will remain very large)
2. Mo

[2013-07-15 09:52] boudewijn-tribler commented on #92
- Option 2 doesn't allow the distinction between info and debug that we are currently using.
- Option 3 introduces another `if` in the system, and I prefer to avoid doing that (we should only use the logger, with as few exceptions as possible)
- Option 4 seems the lesser evil, and would be my choice.  We can still get database statistics using --runtime-statistics and --explain-query-plan.

[2013-07-15 12:27] NielsZeilemaker commented on #92
We could add a special verbose level for just the sql stuff.
http://stackoverflow.com/questions/9042919/python-logging-is-there-something-below-debug

[2013-07-15 13:54] boudewijn-tribler commented on #92
That would solve this problem.  But is it the right thing to do here?  It means that we will be using a 'modified' version of the standard logging.  Keeping to the standard has its benefits in readability and cleanness.

As the author of the first post points out: "though the docs say that that should rarely be necessary and may even be undesirable".

[2013-07-15 14:00] NielsZeilemaker commented on #92
Don't trust the internets, the docs don't actually say that. They say: "Defining your own levels is possible, but should not be necessary, as the existing levels have been chosen on the basis of practical experience."

However, I do agree with you that is seems to be a bit of a hack. Alternatively we could simply use the NOTSET level.

[code]

[2013-07-16 16:12] boudewijn-tribler commented on #92
Yes, using NOTSET would be a good alternative.

[2013-07-17 09:47] #92 closed, assigned to nobody

[2013-07-17 14:54] #79 closed, assigned to nobody

[2013-07-18 10:40] boudewijn-tribler opened #96 "During unit tests the Callback should handle every exception as fatal"
Similar to using --strict when calling tool/main.py

[2013-07-19 08:05] boudewijn-tribler opened #100 "Community naming convention."
Currently three naming conventions are used within community.py:
- Name without 'dispersy' prefix
  For example: get_member, acceptable_global_time, ...
- Name with 'dispersy' prefix
  For example: dispery_enable_candidate_walker, dispersy_store, ...
- Name with 'create_dispersy' prefix
  For example: create_dispersy_authorize, create_dispersy_signature_request, ...

Time permitting we can rename

[2013-07-19 09:08] NielsZeilemaker commented on #100
Makes sense, however if we changing this it might be a good idea to see if we can move some methods from dispersy.py to community.py.

For instance, creating an introduction request is clearly something a community is responsible for, not dispersy.py.
Same goes for receiving them etc.

[2013-07-19 09:14] boudewijn-tribler commented on #100
I agree with you, +1 for moving all message related methods from dispersy.py to community.py.

I'd still like your guy's opinion on the naming convention.

[2013-07-19 09:21] NielsZeilemaker commented on #100
I don't mind the create stuff, i guess it makes sense to have such a keyword for methods which create messages.
The dispersy prefix I dislike, i'd rather use the first option for those instead.

[2013-07-19 09:46] whirm commented on #100
I agree with @NielsZeilemaker

[2013-07-22 08:57] boudewijn-tribler commented on #100
I agree with using the first option.

Historically the naming convention for create, check, on, and undo methods was: create_MESSAGENAME, check_MESSAGENAME, etc.  given that the Dispersy messages include the word 'dispersy' in their name, all these methods become: create_dispersy_aaa, check_dispersy_aaa, etc.  When implemented in disprsy.py I choose to remove 'dispersy' from these method names, I'

[2013-07-22 10:16] NielsZeilemaker opened #101 "Why does Dispersy have a MetaObject class?"
I have a question regarding the MetaObject object. All payload objects have to extend this and implement an Implementation class.

But why? What's the benefit of this approach vs a normal constructor?

[2013-07-22 11:26] boudewijn-tribler commented on #101
The MetaObject is used to distinguish between a community configuration (i.e. the meta part) and an implemented message (the implementation part).  Usually this can be accomplished using class variables and instance variables, but class variables would clash when there are multiple communities of the same class.  Hence the MetaObject.

Most message parts/policies (authentication, resolution, distr

[2013-07-22 11:36] whirm commented on #100
+1

[2013-07-22 11:46] NielsZeilemaker commented on #101
Hmm, I still don't get it. Could you give an example?

[2013-07-22 13:00] synctext opened #102 "variable 'community' referenced before assignment"
As reported by user VVS on [our forum](http://forum.tribler.org/viewtopic.php?f=4&t=3687&p=6974&sid=135550a75397b708f577ec36f5e9c2e2#p6974)

Traceback (most recent call last):
  File "/home/vvs/tribler-6.2.0-rc1/Tribler/dispersy/dispersy.py", line 2703, in store_update_forward
    messages[0].handle_callback(messages)
  File "/home/vvs/tribler-6.2.0-rc1/Tribler/dispersy/dispersy.py", line 2492, in

[2013-07-22 13:11] NielsZeilemaker commented on #102
Maybe we can create a small unit-test for this bug, seems very trivial to trigger. Then we'll never run into this bug again.

[2013-07-22 13:17] boudewijn-tribler commented on #102
Fix: https://github.com/Tribler/dispersy/pull/103

I agree with the unit-test, I'm a bit cramped for time though so will postpone till after my vacation (unless someone else can build one).

[2013-07-22 13:24] NielsZeilemaker commented on #102
It's quite strange that this bug wasn't noticed during the new walking_nat tests:
http://jenkins.tribler.org/job/Test_community_walking_NAT/

As there actually symmetric-natted boxes are used, which should trigger this bug. Any clue why we're not seeing any exceptions there?

[2013-07-22 13:39] boudewijn-tribler commented on #102
No clue.  There must be a logical explanation though, perhaps Dispersy (#96) or the logger is eating the message?

[2013-07-23 14:23] boudewijn-tribler commented on #102
#105 solves the issue with Dispersy/logger hiding exceptions, should prevent exceptions like this from making it through our unit tests.

[2013-07-24 18:38] #102 closed, assigned to boudewijn-tribler

[2013-07-24 19:22] boudewijn-tribler commented on #96
Fixed in #105.

[2013-07-24 19:22] #96 closed, assigned to nobody

[2013-07-26 10:28] boudewijn-tribler commented on #73
This feature is introduced in #107.  It also fixes cases where the connection type was not updated correctly.

[2013-08-22 10:20] #91 closed, assigned to boudewijn-tribler

[2013-08-22 11:19] #73 closed, assigned to nobody

[2013-09-11 18:34] vladum opened #124 "Calls to convert_packet_to_meta_message() might pass tunnel-prefixed packets"
Line `endpoint.py:212` calls `convert_packet_to_meta_message()` which expects a packet **without** the optional Swift tunnel prefix. If this gets called with a tunnel-prefixed message it will result in a `get_community()` call with the wrong CID. The tunnel prefix **is not removed** before the call.

`convert_packet_to_meta_message()` dumps 2 bytes (Dispersy version field) from the beginning of th

[2013-09-13 07:38] boudewijn-tribler commented on #81
Perhaps it is cleaner to have all Candidate instances in one dictionary, i.e. remove self._bootstrap_candidates entirely, since the difference between the two is becoming less distinct.  When we need a candidate we can just iterate over self._candidates and select any candidates that apply.  This would also obsolete the assertion you mention.

I am a bit concerned about the trackers.  Trackers sho

[2013-09-13 07:56] boudewijn-tribler commented on #82
I have no good ideas, the only quick (and dirty) hack is to extract the community id from the first few bytes of the packet to determine if it is in a community that should be encrypted or not.  While this could be used for testing/experiments it is not a good approach in the long run.

What is the design?  Is only the endpoint responsible (doing its own crypto handshake) or is it integrated deepe

[2013-09-16 12:45] #81 closed, assigned to nobody

[2013-09-16 12:46] #82 closed, assigned to nobody

[2013-09-18 18:11] #124 closed, assigned to boudewijn-tribler

[2013-09-20 10:02] whirm commented on #2
Forgot to close this one.
Now the NAT boxes get power cycled before the nightly run.

[2013-09-20 10:02] #2 closed, assigned to whirm

[2013-09-24 14:56] synctext opened #130 "Attack vector with peer list pollution: DoS, Sybil, eclipse, sinkhole attack"
Problem: sending fake identities to victim will pollute internal data structures
Solution: as a first line of defense we use rate control

Each overlay has a list of neighbors and Dispersy is not different.
The incoming and re-visit list of peers is easy to pollute from any Internet location to any victim. Simply create new fake identities and send them at full speed to a single UDP port. The vict

[2013-10-15 07:50] boudewijn-tribler opened #136 "RequestCache.pop() behavior"
First discussed here https://github.com/Tribler/dispersy/pull/106#discussion_r5369978.

We should improve the `pop` behavior, it doesn't make sense.
- We could remove the cleanup_delay entirely, although this would mean that we no longer have the ability to ensure that an identifier/number isn't used for some time.  It is currently used for the introduction request, adding 4.5 seconds before the i

[2013-10-15 09:05] boudewijn-tribler opened #137 "Add version / debug message"
Unfortunately we do not know the Tribler / Dispersy versions of peers we are connected to.  A simple way to solve this is to add a message that requests this information.

It is possible to add some debug numbers to such a message, such as number of dropped / delayed packets, etc.

[2013-10-21 11:20] NielsZeilemaker opened #139 "Candidate.is_obsolete is global"
Communities attempt to clean their candidates at a regular interval. However, because is_obsolete is global a candidate which is active in another community will not be cleaned.

This makes sense, as we don't want to garbage collect this specific candidate instance. However, the community should remove it from its local candidate list and unvote its wan address vote.

Can we change this behaviour

[2013-10-22 09:31] NielsZeilemaker opened #140 "logger.py must not call config"
Currently logger.py is calling config. This has to be moved to the main.py and unit-test base class, as this is currently disabling loggers when Dispersy is used as a library, e.g. in Tribler and Gumby.

[2013-10-24 11:54] boudewijn-tribler commented on #140
Addressed in #142

[2013-10-28 07:46] #140 closed, assigned to nobody

[2013-10-28 12:31] NielsZeilemaker opened #144 "Dispersy statistics are global"
The following dispersy statistics are global, but should be moved to the community statistic object to improve the debugging, i.e. such that we can log how many messages are received per step while doing das experiments.

drop, delay, success, outgoing, created, walk_fail, bootstrap_candidates, walk_attempt, walk_success, walk_bootstrap_attempt, walk_bootstrap_success, walk_reset

I think the rece

[2013-10-28 12:40] NielsZeilemaker commented on #100
Any progress on this? I think it would improve the readability of Dispersy a lot if we could move some methods from dispersy.py to community.py.

[2013-10-29 11:11] boudewijn-tribler commented on #100
I've pointed Johan to this thread last week when discussing its merits.  I'm waiting for him to say yay or nay on the time investment.

[2013-10-29 11:16] NielsZeilemaker opened #145 "Dispersy does not allow custom authentication, resolution, distribution, or destination methods"
I'm trying to extend a fullsyncdistribution to only sync between friends.
In order to allow for this, i'm implementing a new distribution policy which extends fullsyncdistribution.

However, even replacing the fullsyncdistribution with a new class results in the following error:

[code]

Any idea how we can improve upon this, and add some flexibility to Dispersy without me needing to create my "ow

[2013-10-29 11:18] boudewijn-tribler commented on #144
I agree with all of the above.  This would also be a good opportunity to describe what each statistic contains, as this is not immediately clear for each one.

[2013-10-29 11:35] boudewijn-tribler commented on #145
I agree that it is currently to difficult to change/modify the behavior of policies.  Ideally it should use an OO approach, and have each message have functions that can be overridden (encode, decode, handle, create, etc) when needed.  Unfortunately this will have a large impact on the code.

As for the problem (syncing specific messages only between friends), it will ultimately be handled when a

[2013-10-29 11:41] NielsZeilemaker commented on #145
By replacing the handler i'm able to override default behaviour when a bloom is received. However, this is not the point of this issue. It's not being able to implement a authentication, resolution, distribution, or destination method without building your own Dispersy.

[2013-11-01 10:27] NielsZeilemaker opened #147 "Candidate.associate not always called"
Candidate.associate is now only called when receiving a introduction-request or introduction-response.

Although, I agree with comment

[code]

I.e., that this is currently easily spoofable.

Could we change the behaviour to always associate a candidate with a member when receiving any message?
If/when we implement the 3-way handshake message, then this message could overrule the member associatio

[2013-11-04 10:36] boudewijn-tribler commented on #147
_Any_ message is not possible, i.e. receiving a message that is gossiped around (i.e. votes, permissions, etc) would result in incorrect associations.

Did you mean _any walker_ message?  As in also associate when receiving puncture or puncture-request messages?

Or did you mean _any non-sync_ message?  This would include all messages that are not spread through bloom filter synchronization.

[2013-11-04 10:47] NielsZeilemaker commented on #147
I meant any non-sync message, ie all DirectDistribution messages.

[2013-11-04 11:08] boudewijn-tribler commented on #147
Normally DirectDistribution messages are only send between peers that have already contacted each other though the walker, so the association should already be there.

Can you explain the situation where you think this would be useful?

[2013-11-04 11:12] NielsZeilemaker commented on #147
In my peercache situation, there I use cached ip addresses to connect to peers without sending them an introduction request. Moreover, I think it makes more sense to just add this line to all DirectDistribution messages than adding it to the walker messages separately.

Reduces code duplication.

[2013-11-04 13:07] NielsZeilemaker opened #148 "Bug in endpoint, packet length to large"
Got an exception in:

[code]

Contains a len too many, should be

[code]

Stacktrace

[code]

[2013-11-04 13:41] boudewijn-tribler commented on #148
Good catch!  In my enthusiasm I've already pushed it to the Tribler repro, see https://github.com/Tribler/dispersy/commit/cb4b906d442b1a1e8e53a78b2a7511a38c9763f1

[2013-11-04 14:55] #148 closed, assigned to nobody

[2013-11-05 15:26] NielsZeilemaker opened #149 "Member.must_store and Member.must_ignore are obsolete, never called from code."
Both Member.must_store and Member.must_ignore are never called from within Dispersy. Maybe it makes sense to remove both.

[2013-11-05 15:32] NielsZeilemaker opened #150 "Member.must_blacklist called when receiving a second undo for the same message"
A member is blacklisted whenever a second undo message for the same message is received. This consists of the following steps:
- declaring it malicious -> removing all messages from the sync table created by this member
- inserting the offending messages into the malicious_proof table which is then used to convince others that this peer is malicious (when receiving a message created by the offendi

[2013-11-05 15:43] NielsZeilemaker opened #151 "Member.verify and Member.sign api inconsistency"
While Member.sign creates a signature based on:

[code]

Member.verify compares it to:

[code]

So if offset != 0, this results in different things. Currently Dispersy never calls any of these functions with an offset, hence it didn't break.The documentation says:

[code]

Which seems to point into the direction of the Member.verify method of doing things.

[2013-11-06 13:55] NielsZeilemaker opened #152 "Dispersy.database should not log errors"
When using database.py I ran into the following problem.

I want to insert or update a row into a table, but in order to improve the performance I don't want to first perform a select to see if the row exists and then do a insert or update accordingly, but I just perform the insert and handle the exception when the row existed.

This works fine, however the execute, executemany, and executescript

[2013-11-06 14:16] boudewijn-tribler commented on #152
Yes we can.  These cases are already raising the exception allowing it to be logged higher up the chain (if desired) or ignored (as Niels needs).

[2013-11-06 14:18] NielsZeilemaker commented on #152
Great, if you could remove the try excepts, then my log will be significantly cleaner.

[2013-11-06 14:29] boudewijn-tribler commented on #152
Yea, I can imagine.

[2013-11-07 12:51] boudewijn-tribler commented on #147
We will need to create WalkCandidates instead of the Candidate instances, since Candidate instances don't have the associate method, nor are they stored/cached.  But that shouldn't be to much of a problem.

Usually when a WalkCandidate is created either the walk, stumble, or intro method is called.  This sets the timestamps and ensures the WalkCandidate is in the correct category.  A WalkCandidate

[2013-11-07 12:58] NielsZeilemaker commented on #147
I was expecting Dispersy to always attempt to "upgrade" a candidate to a walkcandidate if it is available.
Hence, if a walkcandidate existed the associate method would be called.

I wouldn't go as far as introducing a new timestamp to prevent these walkcandidates from being created, or create walkcandidates for each incomming message.

[2013-11-07 14:27] boudewijn-tribler commented on #147
This upgrade from Candidate to WalkCandidate is indeed done in Dispersy.on_incoming_packets, however, from what I understand of your use case, the peers did not yet do an introduction request between them, hence there is no WalkCandidate to upgrade to.  So calling associate only when a WalkCandidate already exists will not solve your problem.

Hence the proposal of creating WalkCandidates not only

[2013-11-07 14:43] NielsZeilemaker commented on #147
I my usecase, there is a walkcandidate to upgrade to. As i use create a walkcandidate when connecting to it.

However, this issue isn't as much about my case it is regarding the associate call which is now located in both the on_introduction_request/response methods. I feel it is better to move this call to just after the "upgrade" to a walkcandidate is performed.

Furthermore, I don't see the nee

[2013-11-08 10:18] NielsZeilemaker opened #155 "Dispersy.database execute assert"
The following assert statement is wrong:

[code]

It should be:

[code]

[2013-11-09 11:35] synctext opened #156 "WAN address set to an illegal private IPv4 address"
IETF RFC1918 defines the following IPv4 ranges as private:
     10.0.0.0        -   10.255.255.255  (10/8 prefix)
     172.16.0.0      -   172.31.255.255  (172.16/12 prefix)
     192.168.0.0     -   192.168.255.255 (192.168/16 prefix)

Dispersy currently allows such private addresses to be set as a WAN address.
Is the correct behavior that Dispersy has hard-coded knowledge of these private ranges

[2013-11-09 11:37] #152 closed, assigned to nobody

[2013-11-09 11:38] NielsZeilemaker commented on #151
Fixed in #154

[2013-11-09 11:38] #151 closed, assigned to nobody

[2013-11-09 11:39] #139 closed, assigned to nobody

[2013-11-11 12:08] boudewijn-tribler commented on #156
Going from 0.0.0.0 to 192.168.178.202 occurs at startup before communicating with other nodes (where WAN information is usually obtained from).  We should look at the available interfaces and choose one with a proper WAN address and otherwise leave it at 0.0.0.0.

Also, we should filter out all known LAN ranges in Dispersy.wan_address_vote.  We do need to ensure that DAS experiments (where all pee

[2013-11-14 09:05] NielsZeilemaker opened #161 "Wanings printed during unit-tests"
After looking at the output of the unit-tests, I can see some disturbing warnings being issued:

http://jenkins.tribler.org/job/GH_Dispersy_pull-request-tester_devel/159/console

[code]

And

[code]

Are these warning expected?

[2013-11-14 13:06] NielsZeilemaker opened #162 "Convert crypto.py into an Object"
Instead of Member calling ec_sign, ec_verify, and ec_signature_length directly, we should let member call  self._dispersy._crypto.sign/self._dispersy._crypto.verfiy/self._dispersy._crypto.signature_length.

This allows a developer to define/disable the creation and verification of signatures more easily. Helpfull when running on the das.

[2013-11-14 13:10] NielsZeilemaker opened #163 "Dispersy.start should only return False when an error is fatal"
Currently, Dispersy.start returns False when any of the components did not start as expected. However, returning False does not stop Dispersy automatically as components which did start keep running.

Moreover, not being able to dns resolve more than 50% of  the trackers will also cause Dispersy.start to return with False. This shouldn't be the case as not being able dns resolve the trackers isn't

[2013-11-14 16:26] #155 closed, assigned to nobody

[2013-11-14 16:28] #3 closed, assigned to boudewijn-tribler

[2013-11-14 16:28] #7 closed, assigned to boudewijn-tribler

[2013-11-16 03:41] NielsZeilemaker opened #164 "RelayDistribution"
I've found the RelayDistribution after getting an assert, however it doens't seem to be implemented at all?
Any plans on implementing it, or should it be removed?

[2013-11-16 03:45] NielsZeilemaker opened #165 "NullEndpoint"
Using the NullEndpoint causes an immediate assert as the port reported by it is -1 and dispersy checks if the wan has a port >= 0.

[2013-11-16 03:58] NielsZeilemaker opened #166 "CommunityDestination + specificy initial candidates"
Currently I can assign a number of nodes to push a message to when its created. However, I would like to be able to define to which nodes a message is initially pushed.

Is it possible to extend the CommunityDestination to also allow for a list of candidates to be passed?

[2013-11-19 08:29] boudewijn-tribler commented on #166
Yes, this is definitely possible.  Unfortunately I do not have time for this in the near future :(

[2013-11-19 08:32] boudewijn-tribler commented on #164
Correct, it is not implemented.  As far as I know there is no immediate plan to implement this, although we should check with Vincent, he was looking at this feature a few weeks ago.

[2013-11-20 00:58] NielsZeilemaker commented on #166
@whirm could you have a go? Please look at the _forward method in dispersy.py it should be a small change.

[2013-11-20 13:47] whirm commented on #166
Ok, Ill take a look

[2013-11-20 16:25] whirm commented on #166
I will need a bit of help with the unit test for this
whirm/dispersy@0f3997d
let's do it tomorrow if you are around

[2013-11-21 00:48] NielsZeilemaker commented on #166
Ask Boudewijn, I have no clue how to write unittests for Dispersy.
On Nov 21, 2013 12:25 AM, "Elric Milon" notifications@github.com wrote:

[2013-11-21 12:31] whirm commented on #166
@NielsZeilemaker I was talking to @boudewijn-tribler  :)
I will talk to him when he's back on duty.

[2013-11-26 16:55] NielsZeilemaker opened #167 "Callback.call has a delay argument"
Callback.call which performs a blocking call has a delay argument.
I don't see a usecase for that, as it will only make you block more.

Shall we remove it?

[2013-11-29 10:21] NielsZeilemaker opened #168 "Not all request cache object create unique indentifiers"
In dispersy.py MissingProofCache generates a fixed identifier.
This non-unique identifier is passed to the callback.

This causes all MissingProofCaches to be unregistered whenever one is successfull.
I guess that's not the idea.

[2013-11-29 10:56] NielsZeilemaker commented on #168
Maybe we can add a notice if a single unregister removes multiple tasks from the callback.
Add a warning which is only shown in non-optimized mode?

[2013-11-29 12:27] NielsZeilemaker opened #169 "Dispersy.stop is causing random exceptions"
We're  seeing random errors while shutting down Dispersy on the das. This is currently causing all our builds to be marked as failed.

Examples:

[code]

[2013-12-01 09:34] NielsZeilemaker commented on #168
Moreover, simply adding the 2 byte identifier doesn't solve this, as multiple communities can claim the same identifiers. The community should be in the identifier string as well.

[2013-12-02 09:00] boudewijn-tribler commented on #161
The `possibly malicious behaviour` is caused by giving Dispersy messages with the same global time but different payload, during `test_last_9` in the 'Duplicate: should be dropped' part of the test.  This is by design.

The `FAIL time:6 user:3 ...snip...` is caused when a message is received that requires proof, while we do not yet have this proof.  This is also by design, but really shouldn't be

[2013-12-02 09:02] boudewijn-tribler commented on #161
Does anyone have an idea why nose is printing these warning level messages even though The tests are successful?  Nose should only display logger output when a tests fails...

[2013-12-02 12:37] NielsZeilemaker commented on #161
We seems to have a problem with Dispersy always printing all log to the
console. No clue what's happening, @whirm is looking at it.

2013/12/2 Boudewijn notifications@github.com

[2013-12-03 13:35] whirm commented on #161
My problem turned out being a Tribler thing, nothing to do with dispersy.

[2013-12-04 14:53] VincentKetelaars opened #171 "netifaces.ifaddresses causes value error for certain interfaces"
In dispersy.py all interfaces will be retrieved by netifaces.interfaces(), but it can not handle of these..

  File "/home/vincent/git/dispersy-experiments/dispersy/dispersy.py", line 334, in **init**
    self._local_interfaces = list(self._get_interface_addresses())
  File "/home/vincent/git/dispersy-experiments/dispersy/dispersy.py", line 409, in _get_interface_addresses
    addresses = netiface

[2013-12-06 12:11] boudewijn-tribler commented on #167
I agree.

[2013-12-06 12:35] #167 closed, assigned to nobody

[2013-12-09 11:33] NielsZeilemaker commented on #162
@whirm if you're finished with #173 then I would like you to have a look at this one. Shouldn't be too difficult.

[2013-12-09 16:46] NielsZeilemaker opened #177 "On_incoming_packets is accessing candidates directly"
On_incoming_packets replaces the default Candidate instance with a WalkCandidate if a WalkCandidate is registered at that sock_addr.

The community.get_candidate method seems more appropriate? Why isn't that one used?

[2013-12-09 18:57] NielsZeilemaker commented on #169
@boudewijn-tribler any update on this? These error make hunting for exceptions virtually impossible.

[2013-12-10 12:43] boudewijn-tribler commented on #169
Looking into it now.

[2013-12-10 13:44] Devristo opened #180 "_encode_member_authentication_signature usage of undefined value 'data'"
The method _encode_member_authentication_signature of BinaryConversion raises an exception when Sign=False since it attempts to use 'data' which is not available in that scope.

https://github.com/Tribler/dispersy/blob/devel/conversion.py?source=c#L1034

I dont really know what it is supposed to do. Perhaps the data assignment line should be moved up a line?

[2013-12-10 16:10] boudewijn-tribler commented on #171
#181 ensures that the ppp0 interface is ignored without crashing.  Do you need to use the ppp0 interface, or is ignoring it sufficient for you right now?

[2013-12-10 16:16] VincentKetelaars commented on #171
You should do whatever you think best. I am using ppp interfaces, and I was using that Dispersy function to check if the interface exists. But I can work around that.

[2013-12-10 22:35] NielsZeilemaker opened #182 "Test_sync does not test sync"
Test_sync seems to only test the receiving part of the sync, we need to add test methods which test the pivot and modulo heuristics we implemented.

Maybe instead of having a custom create_dispersy_introduction_request method in node.py, we could swtich to the default create_dispersy_introduction_request method from community.

@boudewijn-tribler why have you choosen to create a custom method? Wil

[2013-12-11 09:15] boudewijn-tribler commented on #182
The `create_dispersy_introduction_request` method in node.py is a convenience method to serialize a message _not_ created by the community (where the community is the entity that we are testing, the nodes are the entities pretending to be other peers in the overlay).  Hence a Node creating a message it doesn't test the message creation, it makes a message which can then be send or given to the com

[2013-12-11 09:23] boudewijn-tribler commented on #180
Yea, moving the line up fixes the problem.  Thanks!

[2013-12-11 09:32] boudewijn-tribler commented on #171
The best thing would be to see why netifaces barfs on your ppp interface.  I assume you are using netifaces 0.8?

A quick search shows that there were issues with ppp as far back as 2008, but it seems unlikely that this is the same problem.  (http://alastairs-place.net/blog/2007/03/12/netifaces/)

[2013-12-11 09:38] boudewijn-tribler commented on #163
https://github.com/Tribler/dispersy/pull/172 solves the DNS related issues in OP.

But the other issue, i.e. when opening the endpoint fails the already opened database isn't yet closed, is not.  This should be fixed.

[2013-12-11 09:47] VincentKetelaars commented on #171
Yes I read that as well. I can give you the line of code in the c program
that gave me an error ;)

PyErr_SetString (PyExc_ValueError, "You must specify a valid interface
name.");

2013/12/11 Boudewijn notifications@github.com

[2013-12-11 15:18] boudewijn-tribler commented on #177
From what I can see `meta.community.candidates.get(candidate.sock_addr) or self._bootstrap_candidates.get(candidate.sock_addr)` can be replaced with `meta.community.get_candidate(candidate.sock_addr)`

`get_candidate` is probably not used because it didn't exist when this was originally written, and subsequent changes kept this 'style' the same.

[2013-12-11 15:24] NielsZeilemaker commented on #177
I was thinking exactly the same, might be a nice addition

[2013-12-12 10:34] boudewijn-tribler commented on #177
See #187

[2013-12-16 11:27] #180 closed, assigned to nobody

[2013-12-16 11:27] #177 closed, assigned to nobody

[2013-12-16 11:28] NielsZeilemaker commented on #168
Fixed in #176

[2013-12-16 11:28] #168 closed, assigned to nobody

[2013-12-17 17:15] NielsZeilemaker opened #191 "All privatekeys in Dispersy are actually, public/private keypairs"
Using isinstance we can differentiate between EC keys and EC_pub keys, hence simplifying the member object as we can simply pass a single key argument.

[2014-01-02 10:48] whirm commented on #166
This has been implemented and we have tests for it now.

[2014-01-02 10:48] #166 closed, assigned to whirm

[2014-01-06 14:36] #136 closed, assigned to nobody

[2014-01-19 14:42] NielsZeilemaker opened #206 "Batches use callback.priority"
Currently, the batches are still using the priority of callback. I think this is because Boudewijn wanted to make sure that messages with a higher priority are scheduled sooner.

However, as deadlines are never equal this doesn't make a lot of sense. Moreover, it doesn't seem to be used.

In the past, priorities have caused problems as they interfere with the scheduling of tasks in the callback. T

[2014-01-19 19:21] whirm commented on #206
Are you talking about completely removing priority support in callback?
That would also simplify switching to twisted or similar (twisted doesn't have priorities)

[2014-01-19 19:43] NielsZeilemaker commented on #206
Eventually yes, this is the last place in Dispersy which is using priorities. If we remove it here then only Tribler uses the priorities to speed up database queries.

[2014-03-23 01:17] NielsZeilemaker commented on #206
Batching does not use priorities in devel anymore

[2014-03-23 01:17] #206 closed, assigned to nobody

[2014-03-23 01:19] NielsZeilemaker opened #241 "Some verified candidates dont have a member associated"
@Devristo noticed that some verified candidates returned by yield verified candidates dont have a member associated. This shouldn't be possible, lets add some asserts to see where that's comming from, and if its still happening in devel.

[2014-03-23 01:19] #162 closed, assigned to NielsZeilemaker

[2014-04-08 17:08] NielsZeilemaker commented on #241
Verified in dispersy next, I'll add some more asserts to see where the members are removed?

[code]

[2014-04-10 09:19] NielsZeilemaker commented on #241
Added two asserts to devel which verify if the bug was fixed in devel https://github.com/Tribler/dispersy/pull/244.

[2014-04-10 14:40] #241 closed, assigned to nobody

[2014-04-10 14:41] NielsZeilemaker opened #247 "KeyError incorrectly used"
A KeyError shouldn't be used to indicate that a community couldn't be loaded. We need to start adding custom exceptions.

[2014-04-11 16:21] NielsZeilemaker opened #249 "is_valid_public_bin is wasting resources"
In a lot of places where is_valid_public_bin is used, we could simply resort to trying to use the key to get a member, and if it fails reject the message. The is_valid_public_bin calls are not needed if the get_member method raises an exception.

@LipuFei let's talk on monday, i'll show you how/where to fix this

[2014-04-15 10:55] #247 closed, assigned to nobody

[2014-04-16 13:00] NielsZeilemaker commented on #249
Fixed in #254

[2014-04-16 13:00] #249 closed, assigned to LipuFei

[2014-04-29 15:24] whirm opened #265 "tracker.py should be converted to a twistd .tac"
After #243 is done

[2014-05-02 13:13] NielsZeilemaker commented on #100
Done, most of the dispersy prefixes are gone and all messages have been moved to community.py

[2014-05-02 13:13] #100 closed, assigned to nobody

[2014-05-07 15:28] NielsZeilemaker commented on #149
Fixed by #271

[2014-05-07 15:28] #149 closed, assigned to nobody

[2014-05-14 15:34] NielsZeilemaker opened #279 "Convert StandaloneEndpoint into a DatagramProtocol"
This should be trivial:
https://twistedmatrix.com/documents/12.0.0/core/howto/udp.html

But lets not forget the

[code]

calls

[2014-05-27 19:36] NielsZeilemaker commented on #164
@whirm let's remove this.

[2014-05-27 19:36] #150 closed, assigned to nobody

[2014-05-27 19:36] #147 closed, assigned to nobody

[2014-05-27 19:37] #144 closed, assigned to nobody

[2014-05-27 19:42] #161 closed, assigned to nobody

[2014-05-27 19:48] NielsZeilemaker commented on #169
@LipuFei these are caused by Dispersy having global loggers, could you convert these into separate loggers per class like we have in Tribler?

[2014-05-28 15:45] NielsZeilemaker opened #307 "On_ping bug"
Small bug in the discovery community, the peers who send you a ping aren't neccesarily a walkcandidate. Use the candidate of the actual taste buddy.

[code]

[2014-06-02 09:36] #307 closed, assigned to egbertbouman

[2014-06-02 19:03] NielsZeilemaker opened #317 "Message.database_id is actually message.meta.database_id"
This need to be fixed, as everywhere else we use the database_id property to indicate the database_id.

[2014-06-05 13:36] NielsZeilemaker opened #328 "Tracker cannot cope with 1000s of peers sending a similarity_request"
In the on_similarity_request method in the discoverycommunity, we now computer the "perfect" match per incoming request.

However, the current code:

[code]

Is a bit too slow, and needs to be optimized.

As peers only have 25 preferences at most, maybe we could create a dict which maps tastebuddies per cid.

[code]

[2014-06-05 13:38] NielsZeilemaker commented on #328
Additionally, we need to shuffle the list of bootstrap servers in order to prevent all peers connecting to the "first" bootstrap server.

[2014-06-10 20:48] NielsZeilemaker commented on #279
Done

[2014-06-10 20:48] #279 closed, assigned to whirm

[2014-06-12 15:48] whirm opened #336 "Message generation/parsing overhaul"
As talked previously with Lipu and Niels,

The community class would get two new methods:
- `register_message()` which receives more or less the same args as the Message  classes we now put on the list returned by initiate_meta_messages() in addition to the message id number, which will build a message factory for this message type and register it into the community.
- `reregister_message()` (bett

[2014-06-12 15:49] whirm commented on #336
Some nice things Niels found related to its implementation:

http://blog.namis.me/2012/02/16/python-class-factory/

http://blog.namis.me/2012/02/15/python-caching-using-defaultdict/

[2014-07-10 15:55] whirm opened #343 "get_introduce_candidate() returns the wrong list of peers"
Turns out that test_candidates.py was broken so all the tests where passing just OK.

Now I get one failure:
https://github.com/Tribler/dispersy/pull/342

I guess it's due to the introduction of the discovery community?

[2014-07-11 12:09] egbertbouman commented on #343
I'm not sure. We did add the discovered category, but I don't know if that should affect dispersy_get_introduce_candidate.

[2014-07-29 08:32] whirm opened #351 "The dispersy tutorial is out of date"
It's still using the callback.

[2014-08-08 15:32] whirm commented on #8
I guess we can close this one now.

[2014-08-08 15:37] whirm commented on #49
The older python we are using right now is 2.7.5. I guess we could remove a bunch of compatibility code.

[2014-08-11 20:37] vvs- opened #358 "TypeError: object of type 'int' has no len()"
This happened on Tribler 6.3.0 RC2 instance close:

[code]

[2014-08-19 09:59] #358 closed, assigned to whirm

[2014-08-21 13:04] whirm opened #361 "Exceptions when marking a bunch of channels as favorites"
This one appears repeatedly:

[code]

[2014-08-21 13:14] whirm opened #362 "Failed assert in message.py"
[code]

[2014-08-25 14:54] whirm opened #364 "assert in estimate_lan_and_wan_addresses"
Found this on one of the tracker's logs.

[code]

Where XXXXXXXXXX is a valid IP.

[2014-08-26 17:22] whirm commented on #343
This got fixed, somehow it doesn't fail anymore. :/

[2014-08-26 17:22] #343 closed, assigned to egbertbouman

[2014-08-29 09:49] NielsZeilemaker opened #368 "Discoverycommunity remarks"
I have a couple of small suggestions for the discovery community
- Turn off the bloom filter
- The "self._disp_intro_handler = mm.handle_callback" isn't neccesary anymore, just overwrite and call super from the community class
- Instead of having an insert_trackers and a insert_trackers_when_no_candidate task, merge those
- The send_introduction_request methods calls destination.walk(time()) marki

[2014-11-06 14:24] LipuFei opened #380 "DiscoveryCommunity may cause dirty reactor"
See https://github.com/Tribler/tribler/issues/918

[2014-12-15 12:53] LipuFei opened #383 "AttributeError: 'NoneType' object has no attribute 'on_puncture'"
See https://github.com/Tribler/tribler/issues/985 also

[code]

[2015-01-05 15:14] NielsZeilemaker opened #388 "Runtimestatistics are not sorted"
The runtimestatistics aren't sorted + we need a lower limit to filter out most of the items.
My guess is that this should be implemented in the update method of DispersyStatistics
https://github.com/Tribler/dispersy/blob/devel/statistics.py#L219

[2015-01-05 15:16] NielsZeilemaker commented on #383
This can only happen if we receive two puncture requests for the same identifier in a single batch.

[2015-01-05 15:19] NielsZeilemaker commented on #336
@whirm how's this going btw? Do you have a branch in wherein we got the decoding to work?

[2015-01-06 11:34] whirm commented on #336
I haven't been able to work on this at all :(

[2015-01-15 10:32] #383 closed, assigned to nobody

[2015-01-22 14:47] LipuFei opened #399 "[tracker] assert isinstance(member, Member)"
A backtrace in tracker log:

[code]

[2015-01-22 14:48] LipuFei opened #400 "[tracker] socket.error: [Errno 22] Invalid argument"
A backtrace in tracker log:

[code]

[2015-01-22 14:49] LipuFei opened #401 "[tracker] exceptions.AssertionError: ('108.5.165.90', 0)"
A backtrace in tracker log:

[code]

[2015-02-01 16:16] NielsZeilemaker opened #404 "The _encode_decode hack should be integrated into Dispersy"
Let's merge the _encode_decode hack into dispersy and only run it in debug mode.
Afterwards we can remove it from the Tribler community source code.

[2015-02-02 09:40] LipuFei commented on #401
Got another one in tracker log:

[code]

[2015-02-28 16:19] NielsZeilemaker commented on #404
Done see https://github.com/Tribler/tribler/pull/1296

[2015-02-28 16:19] #404 closed, assigned to nobody

[2015-03-03 09:14] NielsZeilemaker commented on #169
Should be fixed

[2015-03-03 09:14] #169 closed, assigned to nobody

[2015-03-09 19:42] #388 closed, assigned to NielsZeilemaker

[2015-03-09 19:57] NielsZeilemaker commented on #399
Fixed by #409

[2015-03-09 19:57] #399 closed, assigned to nobody

[2015-03-11 15:58] #368 closed, assigned to egbertbouman

[2015-03-13 20:59] NielsZeilemaker commented on #362
Added a type print in pull request #410, lets see if it happens again

[2015-03-13 20:59] #362 closed, assigned to nobody

[2015-03-13 21:02] NielsZeilemaker commented on #364
This one and #401 is similar, somehow the sock_addr port is 0. Let's add an assert in the endpoint to see if it happens there.

[2015-03-13 21:08] NielsZeilemaker commented on #364
This can't really happen anymore, as there is a check on the post of the sock_addr in on_incoming_packets and in the constructor of a candidate. I'll close both issues to see if it happens again.

[2015-03-13 21:08] #364 closed, assigned to nobody

[2015-03-17 12:36] #165 closed, assigned to nobody

[2015-03-21 14:42] #191 closed, assigned to nobody

[2015-03-23 14:44] NielsZeilemaker opened #413 "Reduce debug output of timeline.py"

[2015-03-23 15:21] NielsZeilemaker opened #414 "Dynamic + Linear"
Something fishy is going on:
http://jenkins.tribler.org//job/GH_Tribler_pull-request-tester_devel/3819/testReport/Tribler.Test.test_remote_search/TestRemoteQuery/test_channelsearch_2/

[code]

[2015-03-23 15:22] NielsZeilemaker commented on #414
[code]

[2015-03-23 19:47] synctext commented on #414
Niels self-assigned himself :-)   thnx! @NielsZeilemaker
The search unit tests have been hurting us for months. Hopefully you identified a key bug to kill.

Today we remixed some Bitcoins and are getting ready to buy some no-questions-asked exit nodes VPS servers for a major release in 2 months or so. Plus hopefully a V6.5 once we close tribler/tribler#1174 coming days.

[2015-03-23 20:28] NielsZeilemaker commented on #414
This was quite a nasty bug, actually the dynamicpolicy wasn't implemented correctly. This will hopefully correct this.

[2015-03-24 13:35] #414 closed, assigned to NielsZeilemaker

[2015-03-24 13:37] LipuFei commented on #413
Fixed by #415

[2015-03-24 13:37] #413 closed, assigned to NielsZeilemaker

[2015-03-24 15:20] NielsZeilemaker opened #416 "Sending multiple requests for missing identity when receivin undo_own"
Undo own has a sequence number, has I'm expecting this missing identity request to be the same.

[code]

[2015-03-24 15:35] NielsZeilemaker opened #417 "Single message FAIL -> 2x missing proof"
[code]

[2015-03-24 21:09] #416 closed, assigned to nobody

[2015-03-24 21:09] #417 closed, assigned to nobody

[2015-03-26 10:55] NielsZeilemaker opened #420 "Candidate has a get_member method"
Should be converted into a member property.

[2015-03-26 10:58] corpaul commented on #420
This happens sometimes, but for example not in _disp_on_torrent in the channel community

[2015-03-26 10:59] NielsZeilemaker commented on #420
Its an inconsistency in the api, we should aim to correct it.

[2015-03-26 11:01] corpaul commented on #420
I agree.

[2015-03-30 12:18] NielsZeilemaker opened #421 "Use extra_payload argument in discoverycommunity"
Instead of a custom create_introduction_request, as in
https://github.com/Tribler/dispersy/blob/devel/discovery/community.py#L578
Switch to using the extra_payload argument.

[2015-04-06 15:08] DavidXanatos opened #422 "Dispersy protocol specifications"
Hello,

I wanted to ask if there is any written down detailed protocol specification for "dispersy".
I would like to make a C++ implementation (I assume there is no at the moment) of it, in order to add triblers new features to an other BT client. If there already is a C/C++ implementation please point me to it.
I looked into the wiki on github but there ware only papers describing the system in v

[2015-04-10 08:17] synctext commented on #422
@DavidXanatos
There is only some documentation of Dispersy, the wire protocol and tutorials docs (partly outdated):
https://github.com/Tribler/dispersy/blob/devel/doc/wireprotocol_1.org#dispersy-introduction-request-246
https://github.com/Tribler/dispersy/blob/devel/doc/wireprotocol_2.org#dispersy-introduction-request

Would be great to have a clean and compatible C++ implementation. A lot of Bitt

[2015-04-10 08:42] DavidXanatos commented on #422
I took a look into the code already and have a few questions,
as far as I can see on a first glance the search is a slightly improved query flooding approach,
that is needer a scalable nor exhaustive search scheme.
The only difference to a regular query flooding it seams to select a few "taste buddy's" instead of solely random clients.
Is that correct or have I missed something? And if I did how d

[2015-04-10 12:02] synctext commented on #422
hey!
it seems like a simple search mechanism.. But it uses a giant caching mechanism. Each client stores roughly 50k swarm names in it's local database, so you get a lot of hits. Gnutella required seeding yourself or knowing a seeder directly; poor performance.
Using a similarity function provides a dramatic improvement is search precision, recall and general scalability. (aka taste buddies help f

[2015-04-10 13:10] DavidXanatos commented on #422
Hi,

To what extent the 4P mechanism from the paper is implemented in tribler?
Obviously the file transfer anonymization in tribler uses a different scheme.
And on a first glance I did not notice any code parts that would relay search packets, meaning that the search was only performed on a set of random nodes + some "taste buddy's", is that correct or have I missed something?

Regarding the exhau

[2015-04-10 15:32] synctext commented on #422
All results in the paper have been obtained by Niels with a full 4P implementation. This is possibly the correct branch, but it's too slow for production usage: https://github.com/Tribler/tribler/compare/devel...NielsZeilemaker:private-search-new

Indeed, if none of your random + taste buddies have it in their 50k item caches, you are out of luck. We ran extensive crawlers for the past 12 years on

[2015-04-10 15:34] synctext commented on #422
O yes, preventing typos is something that would help search tremendously our datasets tell us.
Cheap 1 character fixes: https://pypi.python.org/pypi/python-Levenshtein/

[2015-04-10 15:36] synctext commented on #422
Two people who both spend a year on improving search (some time ago): https://www.tribler.org/DistributedTracker/
http://kayapo.tribler.org/trac/raw-attachment/wiki/DistributedTracker/MSc_Thesic_final_jroozenburg.pdf
http://kayapo.tribler.org/trac/raw-attachment/wiki/DistributedTracker/thesis-final-vliegendhart.pdf

[2015-04-10 16:24] DavidXanatos commented on #422
Well the first step would be for me to make a c++ port (that preferably works with crypto++), and therefore the relevant questions for the start are what is, what is currently implemented in the productive tribler code, not what was tested synthetically or just thought about.

Its certainly true that most people search most of the time for popular content, but in my opinion it is just as important

[2015-04-11 08:58] DavidXanatos opened #423 "Triblers EC sicgnature scheme is not compatible with Crypto++"
I tried to parse some tribler messages using a c++ app with crypto++ as crypto library for EC with GF(2^n) and run into a major issue, the signature length and format tribler uses is not compatible with the signature length crypto++ expects.

Also, tribler pads the "s" and "r" parameter sometimes with 0's
for the 4 curves setup in tribler,
 the mismatch is a follows:

if (signature_length == 58) /

[2015-04-11 10:56] synctext commented on #423
@nielszeilemaker
You known why we append in this way perhaps?

[2015-04-15 06:45] NielsZeilemaker commented on #423
Hi @DavidXanatos, you're quite right. The signature created by the M2CryptoSK class in crypto.py isn't compatible with any standard. As you discovered, the original developer decided to pad the r and s values with 0s and use a fixed length signature depending only on the curve (type).

I'm not a big fan on this, and I'd rather use the DER format eventhough that would add some small overhead. Howev

[2015-04-15 06:54] DavidXanatos commented on #423
I know that that would break compatibility, but would this be so much of an issue?
You could implement the fix depending on the dispersy version this way you could phase out old clients slowly, and once the majority of clients are up to date remove the old implementation.

[2015-04-15 07:00] NielsZeilemaker commented on #423
I agree, if we push a new version of Dispersy and force everyone to upgrade, then at some point in time we wouldn't have this problem anymore.

However, communities are actually storing many of the messages created by Dispersy. For instance, in Tribler we have the AllChannelCommunity. This community stores votes created by users of older versions of Dispersy. These votes are dispersy messages, sig

[2015-04-15 08:18] NielsZeilemaker commented on #422
Hi @DavidXanatos there is no flooding in Tribler. We simply send messages to our connected peers, and they reply. No forwarding is implemented whatsoever.
Moreover, instead of random peers, we try to find peers which have similar preferences as us. These peers should provide us better search results.

Organising an overlay in this manner will reduce the cost associated to searching substantially,

[2015-04-15 11:42] DavidXanatos commented on #423
hmm... this is a issue indeed I haven't looked into the code in full detail (to many things to little time) but, does the messages have no expiration date?

It appears to me to be a significant issue in the designs scalability if it caches everything ever posted forever that may lead to the system collapsing at some point in future.

Also that means that the system caches not only the messages but

[2015-04-15 11:50] NielsZeilemaker commented on #423
It does indeed, messages don't have an expiration date. We've played around with a cleanup window, which will throw out messages based on a global time. But this policy hasn't been tested in the wild.
For now its up to the community to design such behaviour, and we havn't used it yet.

Yes, that means storing the identity messages as well.

Currently there are no protections in place guarding agai

[2015-04-15 13:30] DavidXanatos commented on #423
If the messages are pulled by nodes, this still can result in them remaining in circulation for ever.
And those still some type of expiration mechanism would be good to have in my opinion.

And once there is such in place, you can more freely update the protocol implementation.

[2015-04-15 13:33] NielsZeilemaker commented on #423
Pruning is implemented, and you're free to use it in a community. However, its not used in Tribler as of now. Those communities were build using an older version of Dispersy which did not have any pruning at that time.
Have a look at the pruning unit-test to have an example of how it works.
https://github.com/Tribler/dispersy/blob/devel/tests/test_pruning.py

[2015-04-15 13:35] NielsZeilemaker commented on #423
Regarding your "remain in circulation for ever" comment. That's more or less the point of Dispersy, eventual consistency in a p2p network. Moreover, Dispersy will make sure that not one peer will receive the same message twice.

[2015-04-15 13:47] DavidXanatos commented on #423
Ok, but if its available shouldn't it be used in tribler rather sooner than later?
Also is there a concept in place for any updating the protocol that would keep the network consistent?

[2015-04-15 13:55] NielsZeilemaker commented on #423
It depends, it would make sense to add it to the AllChannelCommunity, but that one is relatively small currently. It contains 200k votes, which is roughly 50mb.
In the ChannelCommunities it doesn't make sense, as these torrents should be kept. Search doesn't store any messages, or at least it doesn't use the synchronization. And that's it, no other communities store messages.

[2015-04-15 14:07] DavidXanatos commented on #423
hmm... I would say its a good idea to be able to change in future the protocol in some way so therefor something should be done to make this possible rather sooner than later in case it would require some break in compatibility.

[2015-04-15 14:14] NielsZeilemaker commented on #423
There is no protocol in dispersy, basically it is a platform on top of you can implement communities. Communities define a protocol. Dispersy only implements features which can be used/reused by the protocols of the communities.

[2015-04-15 14:51] DavidXanatos commented on #423
Well the signing and verifying part is done in the code inside the dispersy dir, and this part of the code also defines the binary packet format, does it not?
So to my humble understanding the dispersy code defines the binary protocol format.

[2015-04-15 14:59] NielsZeilemaker commented on #423
Signing and verifying are actually policies you can turn off.
The protocol is defined by a community in the initiate_meta_messages method, an example:
https://github.com/Tribler/dispersy/blob/devel/discovery/community.py#L236

Here the discovery community defines 4 messages. The similarity-request message, which requires a signature and hence is using the MemberAuthentication. The ping and pong me

[2015-04-16 16:52] DavidXanatos commented on #423
Well, not to split hairs but in initiate_meta_messages you can only enable/disable signing you can not change its format unless of cause you disable it and than implement an own replacement, but thats not so elegant if we are looking for a way of making the protocol more compatible to standard crypto implementations.

Well i would say you need pruning + refresh, this way you can get rid of old out

[2015-04-16 17:12] NielsZeilemaker commented on #423
As a community designer you can actually specifiy which crypto to use. And like I said a couple comments ago, I might deprecate the M2Crypto signatures as they are implemented now. Choosing the nacl dualkey as a default. You can even use more than one crypto-variant in a single community. As the type of public key determines how messages are signed.

The goal of Dispersy was not to create a protoc

[2015-06-03 08:14] NielsZeilemaker commented on #61
Let's see if we can get an orm to work in Dispersy. Looking at this sqlobject, it seems pretty trivial:
http://code.saghul.net/index.php/tag/sqlobject/

[2015-06-03 08:55] LipuFei commented on #61
@NielsZeilemaker I have a branch on Tribler that changes some database to use an ORM called [Axiom](https://divmod.readthedocs.org/en/latest/products/axiom/axiom-why-axiom.html). I converted all tables expect the Channel-related ones to use Axiom and it worked. So this would also be an option.

[2015-06-03 08:58] NielsZeilemaker commented on #61
Could you give me a pointer to this branch?

[2015-06-03 09:00] LipuFei commented on #61
https://github.com/LipuFei/tribler/tree/refactory_axiom_db

[2015-06-03 09:20] NielsZeilemaker commented on #61
Axiom seems to be something else, its an object store. I'd rather use an ORM if possible, and SQLObject seems a bit more mature.

[2015-06-16 07:49] snorberhuis opened #428 "Make the method dispersy._forward public"
This method is used within Tribler multiple times, but is accessed publicly while it is a protected method.
The method should be changed into a public method so no pylint errors are given in the code.

store_update_forward( [messages], false ,false, true ) can also be used and will result in only _forward being called. But in the documentation of that method it is mentioned that false should mostl

[2015-06-18 11:56] whirm commented on #61
@NielsZeilemaker it can be used as an ORM just fine: https://github.com/twisted/axiom/blob/master/README.txt
Also, sqlobject doesn't seem to have a working schema upgrade system...

[2015-06-18 12:07] NielsZeilemaker commented on #61
If we're not using it as an object database, but as orm then ok.
But let's start with Dispersy, it's smaller.

[2015-06-18 12:07] whirm commented on #61
Yeah, that's what we where talking about with @LipuFei right now.

[2015-06-18 12:17] rjruigrok opened #431 "ActualTasteBuddy' object has no attribute 'timestamp"
[code]

[2015-06-19 08:05] NielsZeilemaker commented on #431
The crazy thing is, it does have a timestamp attribute:
https://github.com/Tribler/dispersy/blob/devel/discovery/community.py#L80

[2015-06-19 08:07] NielsZeilemaker opened #433 "No need to call callback if DoubleMemberAuth message did not change"
See https://github.com/Tribler/dispersy/blob/devel/community.py#L2431

[2015-06-20 13:35] NielsZeilemaker commented on #380
I'm closing this one, as its not reproducable

[2015-06-20 13:35] #380 closed, assigned to nobody

[2015-06-22 09:17] NielsZeilemaker opened #435 "Use logging.statistics approach"
See http://www.aminus.org/blogs/index.php/2010/11/19/logging-statistics?blog=2
As we're already importing logging, why not use this for statistics as well.

[2015-06-22 09:27] #421 closed, assigned to nobody

[2015-06-25 15:00] rjruigrok commented on #431
Other strange error also occuring in this part.
Don't know how if there is any correlation with this, but I'm running the latest tribler, with a test download over hidden services in the session.

[code]

[2015-07-09 08:27] synctext opened #442 "Fix memory leakage Tribler.dispersy.candidate.Candidate"
we have a _small_ memory leak.

4000 Tribler.dispersy.candidate.Candidate objects are in memory after 30h.
145313 Tribler.dispersy.candidate.Candidate objects are in memory after 784h.

Suspects for memory leakage. Our automatic reports with difficult 60MByte traces: http://jenkins.tribler.org/job/Test_performance_Tribler_idle_24H_nightly_devel/605/artifact/output/memprof/2180/

Elric has some too

[2015-07-09 10:50] NielsZeilemaker commented on #442
How many communities did you have in memory?

[2015-07-09 10:53] NielsZeilemaker commented on #431
This second one is fixed in https://github.com/Tribler/dispersy/pull/436, as for the first one that unreproducable.

[2015-07-09 10:53] #431 closed, assigned to nobody

[2015-07-09 11:28] synctext commented on #442
standard testing. When doing 'mp3' search certains objects become big. They nicely disappear with a result list of just a few items. Same for channel browsing. That is all good.

These dispersy items never decrease. Slowly grow with each new discovered peers.

Standard Tribler default communities.

[2015-08-10 09:12] LipuFei opened #448 "netiface error"
Check https://github.com/Tribler/tribler/issues/1575

Looks like `netifaces.interfaces()` caused the problem. I checked netifaces code and found that an underlying function may raise an `OSError` if `GetAdaptersAddresses()` fails. So I guess we need to catch `OSError` on `netifaces.interfaces()`.

[2015-08-10 14:40] #448 closed, assigned to nobody

[2015-08-17 09:34] synctext commented on #442
After running Tribler for 4 weeks 4 days and 16hours: thousands of objects in memory.

[code]

![tribler_6 4 0pre_with_145313_candidate_objects_in_memory__dowser_aug2015](https://cloud.githubusercontent.com/assets/325224/9302003/3f496c34-44d3-11e5-9b5e-3f66b3209f28.png)

![tribler_6 4 0pre_with_145313_candidate_objects_in_memory__htop_aug2015](https://cloud.githubusercontent.com/assets/325224/9302

[2015-08-19 19:46] NielsZeilemaker commented on #442
Could you start the wx inspectiontool (ctrl+i), and then in the console

[code]

[2015-09-03 12:57] snorberhuis opened #453 "Signatures invalid in DoubleMemberAuthentication when forwarding message"
I ran into this bug when I was trying to implement a crawler for MultiChain.
I wanted to forward a block between two nodes to a third node. I recreate the message with the same payload and into the authentication part I insert the members and signatures.
See:

[code]

When creating the message an exception is throw that the signatures are invalid.
The code is saved in snorberhuis/tribler@b9861567f

[2015-09-03 13:04] snorberhuis commented on #453
Additional I valid all data in the payload to be the same.

[2015-09-16 12:15] NielsZeilemaker commented on #453
This isn't a bug. The packet is signed with the private key of both members. You only have the public keys. If you want to forward a message to another peer. Store the packet_id and fetch the raw binary from the dispersy database.
You cannot reconstruct a packet.

[2015-09-16 12:15] #453 closed, assigned to nobody

[2015-09-16 12:22] snorberhuis commented on #453
You propose a workaround that will probably work. But I think that there is still something wrong, because the code says the signatures are invalid. This should not be case. I am not signing anything, so I don't need the private keys.

[2015-09-16 12:23] snorberhuis commented on #453
Or there is something missing in my understanding.

[2015-09-16 12:24] NielsZeilemaker commented on #453
Your message has the DoubleMemberAuthentication, which requires two signatures.
None of them are set, hence you're getting an exception stating that the signatures are invalid.

[2015-09-16 12:28] NielsZeilemaker commented on #453
Basically, reconstruction is bad. Fetching packet from dispersy database is good.

[2015-09-16 12:39] snorberhuis commented on #453
The signatures are inserted in a similar way as responding to a signature_request in the MultiChain community. Why are the signatures not set that way?

[code]

Response:

[code]

`message.authentication.signatures` returns a simple list with strings.

[2015-09-16 12:40] NielsZeilemaker commented on #453
You cannot create signatures without the private key. Hence no signatures are created.
Only the mids are added.

[2015-09-16 12:42] snorberhuis commented on #453
The signatures should not have to be created, they are inserted from the database.

[2015-09-16 12:43] NielsZeilemaker commented on #453
Basically, reconstruction is bad. Fetching packet from dispersy database is good.

[2015-12-01 13:52] synctext commented on #442
2.2 GByte memory usage after running from 5Nov - 1Dec. Plus 231GByte of IO and 100h of CPU. (devel 785f442ec6fef5fffaa33bfbf086bd22bf401c87)

[code]

![tribler_dowser__210409_dispersycandidate_and_walkcandidate_instances_28days_uptime__1dec2015](https://cloud.githubusercontent.com/assets/325224/11502370/b2fb1faa-983a-11e5-8702-e6380657ac7c.png)

![tribler_htop_memory_leakage_and_231gbyte_io_in_28d

[2015-12-01 13:54] NielsZeilemaker commented on #442
And the output of the command I posted above?

[2015-12-01 13:59] synctext commented on #442
hey! @NielsZeilemaker
Can't get that WX inspection tool to start. Even tried understanding the documentation.. http://wiki.wxpython.org/Widget%20Inspection%20Tool

[2015-12-01 14:00] NielsZeilemaker commented on #442
The key is only bound in the debug panel, first go there

[2015-12-01 14:05] synctext commented on #442
Looks healthy.. Still missing 210000 instances...
![tribler_wx_inspection_tool_output](https://cloud.githubusercontent.com/assets/325224/11502730/d5b0cf0c-983c-11e5-91e5-93722a606329.png)

[2015-12-01 14:12] NielsZeilemaker commented on #442
And

[code]

[2015-12-01 14:20] synctext commented on #442
Hmmm..
![tribler_wx_inspection_tools2](https://cloud.githubusercontent.com/assets/325224/11503124/10fb5c74-983f-11e5-8dc5-887e5da0211f.png)

[2015-12-01 14:28] NielsZeilemaker commented on #442
And after

[code]

[2015-12-01 14:29] synctext commented on #442
checking..

[2015-12-01 14:30] synctext commented on #442
[code]

trying dowser again..

[2015-12-01 16:08] NielsZeilemaker commented on #442
Let's remove the communities one by one.
Verify the memory usage afterwards

[code]

Not sure how Tribler will respond :smile: And remove them one by one.

[2015-12-01 16:18] synctext commented on #442
lol... OK

[2015-12-01 16:22] synctext commented on #442
after the unload attempt:

[code]

[2015-12-02 09:09] NielsZeilemaker commented on #442
[code]

[2015-12-02 10:49] synctext commented on #442
Thnx Niels! Sadly after 4 weeks Tribler ran out of memory to use. Starting dowser and WX inspection tool surely didn't help. Will try again.

[code]

[2015-12-07 16:11] ghost opened #459 "low disk space warning, I get it already"
If you leave tribler open for awhile with low disk space, it will open dozens of "You have low disk space" windows open.   This gets to be quite the hassle closing all of them.

Tribler:  6.3.1+git20140902.9a5a2604-3
OS: Ubuntu 15.10

[2015-12-07 16:11] #459 closed, assigned to nobody

[2015-12-10 16:25] synctext commented on #442
[code]

Memory was growing a bit, even after 75 of object where removed

[code]

After 1 unload:

[code]

[2015-12-10 16:54] synctext commented on #442
@NielsZeilemaker
Here you can see my embarrassing fiddling.
It does not free any candidate.Candidate, status after multiple unload() attempts:

[code]

Console logfile:

[code]

[2015-12-11 14:24] NielsZeilemaker commented on #442
So then probably something else is keeping a reference to the candidates. So that would be Tribler. Is there a debug panel which has any lists of candidates?

[2016-02-22 16:09] whirm commented on #265
It got converted into a twisted plugin instead

[2016-02-22 16:09] #265 closed, assigned to nobody

[2016-02-22 16:10] whirm opened #463 "The bootstrap tests are broken"
They fail even when Tribler is able to bootstrap without any issue:
https://jenkins.tribler.org/job/Test_BootstrapServers/20534/console

[2016-04-25 10:31] synctext opened #470 "Documentation link broken: https://dispersy.rtfd.org/"
Appears at https://github.com/Tribler/dispersy
needs more polishing, see also non-addressed issues in: #467

[2016-04-25 10:41] mitchellolsthoorn commented on #470
Fixed the broken link. Will address the other issues in a pull request

[2016-04-28 12:07] mitchellolsthoorn commented on #470
@synctext this issue can be closed

[2016-04-28 13:23] #470 closed, assigned to mitchellolsthoorn

[2016-04-29 10:10] lfdversluis commented on #463
links gives a 404

[2016-04-29 10:23] whirm commented on #463
:( we need to remember to mark the builds we refer to in issues as persistent..

I'll close this one and reopen it with a valid link if it happens again.

[2016-04-29 10:23] #463 closed, assigned to nobody

[2016-05-04 09:14] qstokkink opened #476 "No localhost communication"
### Problem

Ever since updating to the latest commit (from 01c6d0131644c3747f953f8eb2bed6f7e3244bd2  to 9cf7d179eb2cb411683cc0095e15994da9b98d28) this morning, my localhost nodes are no longer communicating.
To be precise, the only communication is in the DiscoveryCommunity overlay between 2 nodes (out of many in the overlay).
### Environment/runtime
- I am running [this simple community](https:/

[2016-05-04 11:32] whirm commented on #476
@pimveldhuisen Please, have a look at this, It seems related to your fallback refactor.

[2016-05-04 13:30] synctext commented on #476
interesting. So when running 16-ish Dispersy nodes on a single server it fails. Indeed looks like localhost network 192.168.0.xx detection problem.

[2016-05-04 13:59] pimveldhuisen commented on #476
@qstokkink Weird, the commit --shouldn't-- change anything unless you previously had issues with netifaces.
Could you check the value of self._netifaces_failed in dispersy.py?

[2016-05-04 14:09] qstokkink commented on #476
@pimveldhuisen _netifaces_failed stays False the entire time.

[2016-05-04 14:40] pimveldhuisen commented on #476
@qstokkink Could you try this fix: https://github.com/pimveldhuisen/dispersy/commit/011e8a913dd13b7bda2e5815753edaa8a33cdc70
Either checkout my netifaces_fallback branch (should be up to date with Tribler/devel, except for this commit), or just cherry-pick the commit.

[2016-05-04 15:00] qstokkink commented on #476
@pimveldhuisen pimveldhuisen@011e8a913dd13b7bda2e5815753edaa8a33cdc70 works again for me.

[2016-05-04 15:22] pimveldhuisen commented on #476
Great! https://github.com/Tribler/dispersy/pull/477 should fix this issue then.

[2016-05-09 11:21] pimveldhuisen commented on #476
@whirm this can be closed

[2016-05-09 12:06] #476 closed, assigned to pimveldhuisen

[2016-06-02 09:37] lfdversluis opened #484 "Objects that do a database call in their init"
I have run the unit tests of dispersy and profiled them with yappi. I exported the output to callgrind format and exported this into a dotfile using `gprof2dot`.

Using [this code](https://gist.github.com/lfdversluis/6d794e9d27a19a3b75b63ecf1d4b2bb8) I parsed the dotfile to find inits that call the database eventually.

I noticed that a lot of database functions are not covered by the tests such a

[2016-06-02 10:46] lfdversluis commented on #484
Just realized that this whole approach isn't going to work at all.
If a method uses a decorator that is also used for database operations then it will think that it (may, and thus will when doing a dfs) do database operations eventually while this may not be the case.

In any case here is the output that lead me to this conclusion:

[code]

Everywhere is the wrapper involved, which is the `attach_

[2016-06-02 11:28] lfdversluis commented on #484
Plan 2:
Analyze the call stack at the database function level, if it contains an `__init__` throw an exception and fix the case. Rinse and repeat. (Thread switching kills this approach though)

[2016-06-07 10:05] lfdversluis opened #487 "Test test_tracker in TestBootstrapServers is unstable"
Sometimes is passes, most of the time:
`Runs tracker.py and connects to it. ... ERROR`

[2016-06-07 10:10] whirm commented on #487
That's not really a unit test, It's just to check that the dispersy trackers are alive and bootstraping works.

We will have to have a look at it.

[2016-06-09 12:31] lfdversluis opened #488 "The upgrade procedure is not tested and goes back to version 1"
Tribler supports 17 and up (Version 5.9.x). At this point in time Dispersy was at version 16. So < 16 should not longer be supported.
- we need tests for this as this is uncovered code.

[2016-06-16 15:16] lfdversluis opened #494 "Generator only used to get one item?"
The generator here https://github.com/Tribler/dispersy/blob/devel/tests/debugcommunity/node.py#L254
is only used to fetch one message. If it's called twice within the same function, it is done with different `names` parameter.

[2016-06-16 15:18] lfdversluis commented on #494
Only case where it is being called twice within the same function: https://github.com/Tribler/dispersy/blob/devel/tests/test_bootstrap.py#L102

[2016-06-17 12:55] whirm commented on #494
https://github.com/Tribler/dispersy/blob/devel/tests/debugcommunity/node.py#L288

[2016-06-22 14:21] lfdversluis opened #499 "TaskManager tests are hanging."
On a fresh clone of Dispersy, running `nosetests tests/test_taskmanager.py` seems to hang indefinitely for me. Apparently they work on BBQ but not for me.

[2016-06-22 14:23] lfdversluis commented on #499
Just tested on the debian container, hangs there too. Probably because of the blocking call decorator above the cancel pending task function.

[2016-06-22 14:23] #494 closed, assigned to nobody

[2016-06-23 09:41] whirm commented on #499
Yeah, it's hanging for me too. Really weird as it hasn't changed since 2014...

[2016-07-01 12:26] #499 closed, assigned to whirm

[2016-07-13 12:40] lfdversluis opened #505 "Refactor _resume_delayed"
As can be seen in https://github.com/Tribler/tribler/issues/2255 `_resume_delayed` in community takes a lot of CPU time.

The function in itself is pretty ugly so it should be refactored to be more efficient.

[2016-07-14 14:03] whirm commented on #4
@devos50 took care of it

[2016-07-14 14:03] #4 closed, assigned to nobody

[2016-07-14 14:04] devos50 commented on #4
@whirm that wasn't me.

[2016-07-20 08:32] devos50 commented on #505
40% cpu iso

[2016-07-22 10:18] devos50 opened #506 "The libnacl submodule can be removed"
Since it's available in the debian repo's and on pip (so we can bundle it on OS X + Windows).

[2016-08-16 11:12] lfdversluis opened #508 "The add and add_keys in the bloomfilter contain identical code"
Just let `add_keys` call `add_key` in the loop.

[2016-09-25 12:15] devos50 opened #509 "The test to check whether the bootstrap servers are up should be fixed"
Various trackers are down and the bootstrap test on Jenkins is failing (https://jenkins.tribler.org/job/Test_BootstrapServers/).

We should check this out and fix the servers.

[2016-10-01 21:18] #509 closed, assigned to devos50

[2017-03-10 08:40] devos50 opened #527 "Get rid of all the hard-coded sleeps in the tests"
We should twistify all Dispersy tests. Hard-coded sleeps when running these tests on a reactor thread (like I'm doing when testing the market community) is bad behaviour and blocks everything, leading to failures in tests.

[2017-03-10 11:24] #488 closed, assigned to lfdversluis

[2017-04-05 14:07] qstokkink opened #532 "meta_message table is filled with duplicates"
The `meta_message` table is filled with duplicate entries for meta messages. Right now for each community all inherited meta messages are duplicated and put into the database.

For the ChannelCommunities in Tribler this means that the same 22 messages are inserted for each new channel found. On my laptop for instance, this leads to 2930*22 rows of duplicate data with a 2 MB (uncompressed) database

[2017-04-05 14:38] qstokkink opened #534 "Linux unit tests pass on PR with error"
https://jenkins.tribler.org/job/dispersy/job/GH/job/PR/job/Unit_tests_linux/1866/console

This PR has an unhandled AssertionError but still passes its unit tests.

[2017-04-09 18:31] devos50 opened #536 "Error when changing meta messages on community upgrade"
When changing the name of meta messages when modifying an existing community, Dispersy throws an error when initializing this community. I found this out when I was working on the TradeChainCommunity, used in the decentralized market: this TradeChain first used the 'old' MultiChain code but I changed this to the true halves implementation of @Captain-Coder. Between these implementations, several m

[2017-04-10 05:49] qstokkink commented on #534
@devos50 This was fixed in #533, closing this issue.

[2017-04-10 05:49] #534 closed, assigned to nobody

[2017-04-23 10:41] Captain-Coder commented on #536
I'm unsure if I would qualify this as a bug. I would say that it is not expected that future versions of a community ever remove message types. In such cases of incompatibillity, it would have to update the community master member. When you made your trade community from the multichain community, you should have updated the master member key. Even if you inherit from the multichain community, i'd

[2017-05-06 09:33] devos50 opened #542 "The Dispersy tracker stress test could be part of our tests"
When refactoring the bootstrap tests, I noticed that we have a stress test that sends a bunch of introduction requests to a specific tracker. I think this test can be a valuable addition to our testing suite. I'm talking about this test: https://github.com/Tribler/dispersy/blob/devel/tests/test_bootstrap.py#L242. Currently, this test is disabled and requires some work to make it functional again.

[2017-05-06 09:52] qstokkink commented on #542
I agree with the reason for disabling it though (`The stress test is not actually a unittest`). I think this is more of a Gumby integration test than a Dispersy unit test. In fact, I believe the entirety of `test_bootstap.py` should be moved to Gumby.

[2017-06-09 14:11] devos50 opened #550 "Make Dispersy available on PyPi"
For some additional exposure, we could consider to make Dispersy available on PyPi. It's not that hard to do and requires adding a setup.py file to our repository.

Note that this also requires us to keep track of version numbers when working with Dispersy.

@qstokkink what do you think?

[2017-06-09 14:20] qstokkink commented on #550
@devos50 Assuming the amount of extra work to accomplish this is negligible: I am in favor. This provides some extra motivation as we strive for [Dispersy 2.0](https://github.com/Tribler/tribler/issues/2778) 😃

[2017-06-09 14:45] devos50 commented on #550
@qstokkink ok, I was almost done with this one but it turns out that we need to have a separate `dispersy` directory with the files in there. I believe this requires quite some refactoring and modifications of relative imports right? Last time we tried that, it turned out to not work very well iirc.

[2017-06-09 14:46] qstokkink opened #552 "Remove DoubleMemberAuthentication"
The DoubleMemberAuthentication was only made to serve the Tribler MultiChain. Now it is not used anymore by anything and only serves to clutter the Dispersy source code.

[2017-06-09 14:52] qstokkink commented on #550
@devos50 it should work just fine on its own. However, I agree that this should not be done in this repository as that will break just about everything. So instead, I suggest we externally manage the `setup.py` etc. in another repo with this repo as a submodule.

<sub>\*Or, if you feel sufficiently demotivated, don't add it to PyPi</sub>

[2017-06-13 20:19] devos50 opened #554 "Bootstrap server test does not work anymore after n-hop sync"
It seems that our bootstrap server test is broken after merge of n-hop sync (https://github.com/Tribler/dispersy/commit/1e2a70cf8a6dbf1d9e718df8679aee1479c063c2). See https://jenkins.tribler.org/job/Test_BootstrapServers/31812/ and https://jenkins.tribler.org/job/Test_BootstrapServers/31813/).

@qstokkink can you investigate this?

[2017-06-13 21:13] devos50 commented on #554
I've also tested this on the bbq server and I confirm that the test doesn't work after the merge.

[2017-06-13 21:25] devos50 commented on #554
@qstokkink also, my market experiment without the n-hop sync works as expected but with n-hop sync, no asks/bids are sent to other nodes :(

[2017-06-14 06:22] qstokkink commented on #554
@devos50 Weird, _it works on my machine_<sup>TM</sup>. I'll investigate this today.

EDIT: Oh wait, that test is on SKIP by default.
EDIT2: It seems that backwards compatibility is still a thing, I'll refactor the n-hop-sync to its own `Destination` subclass.
EDIT3: Your experiment not working anymore is a consequence of the peers no longer being able to communicate with the bootstrap servers.
EDI

[2017-06-14 08:20] #554 closed, assigned to qstokkink

[2018-05-31 08:45] devos50 opened #568 "Infinite growing dictionary in Dispersy statistics"
The dictionaries stored in the Dispersy statistics (`MessageStatistics`) are always growing and never pruned. When running Tribler for extended periods of time, this leads to significant memory usage. See for instance https://github.com/Tribler/dispersy/blob/devel/statistics.py#L82. It seems that we're storing full details about all introduction requests sent and received. The same goes for `walk_

[2018-05-31 09:07] qstokkink commented on #568
Dispersy is end of life, ~~therefore I will close this issue.~~ so we can simply remove/disable these statistics imo.

[2018-05-31 09:08] devos50 commented on #568
Great!

[2018-10-15 19:05] FFY00 opened #573 "Add new release"
Please add a new release as the current one doesn't work for the latest tribler release.

[2018-10-15 19:31] devos50 commented on #573
I've published a new release 👍

[2018-10-15 19:31] #573 closed, assigned to nobody

[2019-05-12 15:28] zimio opened #575 "Missing license"
No license information is included in the project. The default copyright is all rights reserved.

[2019-05-13 08:31] xoriole commented on #575
Dispersy is at end-of-life and no longer used.

License for Dispersy is same as Tribler and IPv8
```GNU Lesser General Public License v3.0```
https://github.com/Tribler/tribler/blob/devel/LICENSE

[2019-05-18 20:51] zimio commented on #575
Yes, for sure it is end of life. However this repository will be saved for posterity and someone else could find it useful.

My proposal would be to add a LICENSE file on the root of this repository to remove any ambiguity about it. The link you share shows the LICENSE file of the tribler repository which is different from this one.

Also, maybe also add a disclaimer in the README saying how this